em{
	color: #1E8449;
	font-weight: bold;
}

a{
	cursor: pointer;
}

.output , .contentHeading {
	font-weight: bold;
	font-style: italic;
}

.noBullet{
	list-style-type: none;
}

.errorOutput{
	color: red;
}

.up{
	bottom: 10px;
	right: 5px;
	position: fixed;
}

.main {
  padding: 16px;
  padding-left: 185px;
}

.breadcrumb{
	margin-left: 175px;
	margin-right: 2px;
}