/* Element styles start */
em{
	color: green;
	font-weight: bold;
}

a{
	cursor: pointer;
}

body{
    margin-top:60px;
}
/* Element styles end */

/* table, th , td  {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;
}
table tr:nth-child(odd) {
  background-color: #f1f1f1;
}
table tr:nth-child(even) {
  background-color: #ffffff;
} */

/* class styles start */
.output , .contentHeading {
	font-weight: bold;
	font-style: italic;
}

.up{
	bottom: 10px;
	right: 5px;
	position: fixed;
}

.noBullet{
	list-style-type: none;
}

.errorOutput{
	color: red;
}

.notActive{
	
}

.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

/* class styles end */

/* id styles */