<div class="panel panel-primary"><div class="panel-heading">Angular 1 Examples</div><div class="panel-body">
	<ul>
		<li><a ng-href="#angular1HelloWorld" ng-click="buildBreadCrumbs('Angular 1 Hello World', '#angular1HelloWorld')">Angular 1 Hello World</a></li>
		<li><a ng-href="#printMessage" ng-click="buildBreadCrumbs('Angular JS 1 print message in html by setting scope variable', '#printMessage')">Angular JS 1 print message in html by setting scope variable</a></li>
		<li><a ng-href="#printMessageWithIIFY" ng-click="buildBreadCrumbs('Using Angular JS with IIFY', '#printMessageWithIIFY')">Using Angular JS with IIFY</a></li>
		<li><a ng-href="#controller1" ng-click="buildBreadCrumbs('Angular Controller', '#controller1')">Angular Controller Hello World</a></li>
		<li><a ng-href="#httpGet" ng-click="buildBreadCrumbs('Calling GET Rest Web Service', '#httpGet')">Calling GET Rest Web Service</a></li>		
		
	</ul>
</div></div>	