<div class="page-header">
    <h3>Apache Camel</h3>      
  </div>

<div class="panel panel-primary"><div class="panel-heading">Contents</div><div class="panel-body">
	<ul>
		<li><a ng-href="#camelHelloWorld" ng-click="buildBreadCrumbs('Camel Hello World', '#camelMarshalCsv')">Apache Camel Hello World</a></li>
		<li><a ng-href="#camelWithBean" ng-click="buildBreadCrumbs('Using Bean in Router', '#camelWithBean')">Apache Camel With Bean</a></li>
		<li>Using bean in the Router</li>
		<li>Using Processor and Bean in the Router</li>
		<li>Camel with Spring Bean</li>
		<li><a ng-href="#camelMarshalCsv" ng-click="buildBreadCrumbs('Marshal CSV using Camel', '#camelMarshalCsv')">Marshal (converting List to CSV) List to CSV file using Apache Camel</a></li>
		<li><a ng-href="#camelUnmarshalCsv" ng-click="buildBreadCrumbs('Unmarshal CSV using Camel', '#camelUnmarshalCsv')">Unmarshal (converting CSV to List) CSV File using Apache Camel</a></li>
	</ul>
</div></div>