<div class="panel panel-primary"><div class="panel-heading">Materials</div><div class="panel-body">
	<ul>
		<li><a href="http://www.mastertheintegration.com/camel/camel-introduction.html" target="_blank">Camel Introduction</a></li>
		<li><a href="http://camel.apache.org/getting-started.html" target="_blank">Camel Getting started - Apache documentation</a></li>		
		<li><a href="http://examples.javacodegeeks.com/enterprise-java/apache-camel/apache-camel-activemq-example/" target="_blank">Camel + Active MQ</a></li>
		<li><a href="http://examples.javacodegeeks.com/enterprise-java/apache-camel/apache-camel-activemq-example/" target="_blank">Camel + Active MQ + Spring</a></li>
	</ul>
</div></div>

<div class="panel panel-primary"><div class="panel-heading">Workspaces</div><div class="panel-body">
	<ul>
		<li>Eclipse Oxygen: E:\workspaces\camel-ws</li>
	</ul>
</div></div>

<div class="panel panel-primary"><div class="panel-heading">Projects</div><div class="panel-body">
	<ul>
		<li><a href="https://github.com/avinashbabudonthu/ApacheCamel.git" target="_blank">Github Link</a></li>
	</ul>
</div></div>

<div class="panel panel-primary"><div class="panel-heading">Apache Camel Examples</div><div class="panel-body">
	<ul>
		<li><a ng-href="#camelHelloWorld" ng-click="buildBreadCrumbs('Camel Hello World', '#camelMarshalCsv')">Apache Camel Hello World</a></li>
		<li><a ng-href="#camelWithBean" ng-click="buildBreadCrumbs('Camel + Routers + Bean with default method', '#camelWithBean')">Camel + Routers + Bean with default method</a></li>
		<li><a ng-href="#camelWithBean2" ng-click="buildBreadCrumbs('Camel + Routers + Bean with our custom method', '#camelWithBean2')">Camel + Routers + Bean with our custom method</a></li>
		<li><a ng-href="#camelWithBeanAndProcessor" ng-click="buildBreadCrumbs('Camel + Bean + Processor', '#camelWithBeanAndProcessor')">Camel + Bean + Processor</a></li>
		<li><a ng-href="#camelObjectAsBody" ng-click="buildBreadCrumbs('Camel + Object as body', '#camelObjectAsBody')">Camel + Object as body</a></li>
		<li><a ng-href="#camelExceptionHandling1" ng-click="buildBreadCrumbs('Camel + Exception Handling', '#camelExceptionHandling1')">Camel + Exception Handling1</a></li>
		<li><a ng-href="#camelMulticast" ng-click="buildBreadCrumbs('Camel Multicast', '#camelMulticast')">Camel Multicast</a></li>
		<li><a ng-href="#camelMulticastAggregationStrategy" ng-click="buildBreadCrumbs('Camel Multicast Aggregation Strategy', '#camelMulticastAggregationStrategy')">Camel Multicast Aggregation Strategy</a></li>
		<li><a ng-href="#camelMulticastParallel" ng-click="buildBreadCrumbs('Camel Multicast + Parallel Processing', '#camelMulticastParallel')">Camel Multicast + Parallel Processing</a></li>
		<li><a ng-href="#camelMain" ng-click="buildBreadCrumbs('Camel + Main', '#camelMain')">Camel + Main</a></li>
		<li><a ng-href="#camelWithSpring" ng-click="buildBreadCrumbs('Camel + Spring', '#camelWithSpring')">Camel + Spring</a></li>
		<li><a ng-href="#camelRouteBuilderInSpringXml" ng-click="buildBreadCrumbs('Camel + RouteBuilder in Spring XML', '#camelRouteBuilderInSpringXml')">Camel + RouteBuilder in Spring XML</a></li>
		<li><a ng-href="#camelSpringProcessorBean" ng-click="buildBreadCrumbs('Camel with Spring and Processor and Bean', '#camelSpringProcessorBean')">Apache Camel With Spring and Processor and Bean</a></li>
		<li><a ng-href="#camelConsumeSpringRest" ng-click="buildBreadCrumbs('Camel Consuming Spring Rest API', '#camelConsumeSpringRest')">Camel Consuming Spring Rest API</a></li>
		
		<!-- TODO -->
		<li><a ng-href="#" ng-click="buildBreadCrumbs('', '#')">com.camel.activemq.async</a></li>
		<li><a ng-href="#" ng-click="buildBreadCrumbs('', '#')">com.java.queue.camel.receiver</a></li>
		<li><a ng-href="#" ng-click="buildBreadCrumbs('', '#')">com.activemq.queue.practice</a></li>
		<li><a ng-href="#" ng-click="buildBreadCrumbs('', '#')">com.activemq.queue.practice2</a></li>
		<li><a ng-href="#" ng-click="buildBreadCrumbs('', '#')">com.camel.activemq.topic</a></li>
		<li><a ng-href="#" ng-click="buildBreadCrumbs('', '#')">com.camel.activemq.queue.topic</a></li>
		<li><a ng-href="#" ng-click="buildBreadCrumbs('', '#')">com.camel.activemq.spring</a></li>
		<li><a ng-href="#" ng-click="buildBreadCrumbs('', '#')">com.camel.ibmmq.practice</a></li>
		<li><a ng-href="#" ng-click="buildBreadCrumbs('', '#')">com.camel.activemq.ibmmq.practice</a></li>
		
<!-- 		
		<li><a ng-href="#camelMarshalCsv" ng-click="buildBreadCrumbs('Marshal CSV using Camel', '#camelMarshalCsv')">Marshal (converting List to CSV) List to CSV file using Apache Camel</a></li>
		<li><a ng-href="#camelUnmarshalCsv" ng-click="buildBreadCrumbs('Unmarshal CSV using Camel', '#camelUnmarshalCsv')">Unmarshal (converting CSV to List) CSV File using Apache Camel</a></li> 
-->
	</ul>
</div></div>