<div ng-controller="cerebroController"><div ng-if="breadCrumbs.length > 0">
<ol class="breadcrumb">
	<li ng-repeat="breadCrumb in breadCrumbs"><a ng-href="{{breadCrumb.link}}" ng-click="popBreadCrumb($index)">{{breadCrumb.name}}</a></li>
</ol>
<hr/>
</div></div>

<div class="panel panel-primary"><div class="panel-heading">Steps</div><div class="panel-body">
<pre>
1. create a maven project using following command
2. Import project into eclipse as maven project
3. Add dependencies to pom.xml
4. Write RouteBuilder
5. Write Bean
6. Write Pojo
7. Write main class
</pre>
</div></div>

<div class="panel panel-primary"><div class="panel-heading">create a maven project using following command</div><div class="panel-body">
<pre ><code>
mvn archetype:generate -DgroupId=com.camel -DartifactId=ApacheCamel -Dversion=1.0-SNAPSHOT -Dpackage=com.camel.hello.world -DarchetypeArtifactId=maven-archetype-quickstart -DinteractiveMode=false
</code></pre>
</div></div>

<div class="panel panel-primary"><div class="panel-heading">Project Structure</div><div class="panel-body">
<img class="img-responsive" ng-src="images/camel/1-camelObjectAsBody.jpg"/>
</div></div>

<div class="panel panel-primary"><div class="panel-heading">pom.xml</div><div class="panel-body">
<pre ><code>
&lt;project xmlns=&quot;http://maven.apache.org/POM/4.0.0&quot; xmlns:xsi=&quot;http://www.w3.org/2001/XMLSchema-instance&quot; xsi:schemaLocation=&quot;http://maven.apache.org/POM/4.0.0 http://maven.apache.org/maven-v4_0_0.xsd&quot;&gt;
	&lt;modelVersion&gt;4.0.0&lt;/modelVersion&gt;
	&lt;groupId&gt;com.camel&lt;/groupId&gt;
	&lt;artifactId&gt;ApacheCamel&lt;/artifactId&gt;
	&lt;packaging&gt;jar&lt;/packaging&gt;
	&lt;version&gt;1.0-SNAPSHOT&lt;/version&gt;
	&lt;name&gt;ApacheCamel&lt;/name&gt;
	&lt;url&gt;http://maven.apache.org&lt;/url&gt;

	&lt;properties&gt;
		&lt;camel.version&gt;2.17.1&lt;/camel.version&gt;
	&lt;/properties&gt;
	&lt;dependencies&gt;
		&lt;dependency&gt;
			&lt;groupId&gt;junit&lt;/groupId&gt;
			&lt;artifactId&gt;junit&lt;/artifactId&gt;
			&lt;version&gt;4.12&lt;/version&gt;
		&lt;/dependency&gt;
		<em>&lt;!-- Camel --&gt;</em>
		&lt;dependency&gt;
			&lt;groupId&gt;org.apache.camel&lt;/groupId&gt;
			&lt;artifactId&gt;camel-core&lt;/artifactId&gt;
			&lt;version&gt;${camel.version}&lt;/version&gt;
		&lt;/dependency&gt;
		&lt;dependency&gt;
			&lt;groupId&gt;org.apache.camel&lt;/groupId&gt;
			&lt;artifactId&gt;camel-http&lt;/artifactId&gt;
			&lt;version&gt;${camel.version}&lt;/version&gt;
		&lt;/dependency&gt;

		&lt;dependency&gt;
			&lt;groupId&gt;org.apache.camel&lt;/groupId&gt;
			&lt;artifactId&gt;camel-stream&lt;/artifactId&gt;
			&lt;version&gt;${camel.version}&lt;/version&gt;
		&lt;/dependency&gt;

		<em>&lt;!-- camel spring dependencies --&gt;</em>
		&lt;dependency&gt;
			&lt;groupId&gt;org.apache.camel&lt;/groupId&gt;
			&lt;artifactId&gt;camel-spring&lt;/artifactId&gt;
			&lt;version&gt;${camel.version}&lt;/version&gt;
		&lt;/dependency&gt;

		<em>&lt;!-- spring --&gt;</em>
		&lt;dependency&gt;
			&lt;groupId&gt;org.springframework&lt;/groupId&gt;
			&lt;artifactId&gt;spring-context&lt;/artifactId&gt;
			&lt;version&gt;4.2.6.RELEASE&lt;/version&gt;
		&lt;/dependency&gt;

		<em>&lt;!-- camel test --&gt;</em>
		&lt;dependency&gt;
			&lt;groupId&gt;org.apache.camel&lt;/groupId&gt;
			&lt;artifactId&gt;camel-test&lt;/artifactId&gt;
			&lt;version&gt;${camel.version}&lt;/version&gt;
		&lt;/dependency&gt;
		
		<em>&lt;!-- Active MQ JMS --&gt;</em>
		&lt;dependency&gt;
            &lt;groupId&gt;org.apache.camel&lt;/groupId&gt;
            &lt;artifactId&gt;camel-jms&lt;/artifactId&gt;
            &lt;version&gt;${camel.version}&lt;/version&gt;
        &lt;/dependency&gt;
        
        &lt;dependency&gt;
            &lt;groupId&gt;org.apache.activemq&lt;/groupId&gt;
            &lt;artifactId&gt;activemq-camel&lt;/artifactId&gt;
            &lt;version&gt;5.6.0&lt;/version&gt;
        &lt;/dependency&gt;
        
        &lt;dependency&gt;
            &lt;groupId&gt;org.apache.activemq&lt;/groupId&gt;
            &lt;artifactId&gt;activemq-pool&lt;/artifactId&gt;
            &lt;version&gt;5.11.1&lt;/version&gt;
        &lt;/dependency&gt;
        
        <em>&lt;!-- Logging --&gt;</em>
        &lt;dependency&gt;
            &lt;groupId&gt;org.slf4j&lt;/groupId&gt;
            &lt;artifactId&gt;slf4j-api&lt;/artifactId&gt;
            &lt;version&gt;1.7.12&lt;/version&gt;
        &lt;/dependency&gt;
        &lt;dependency&gt;
            &lt;groupId&gt;org.slf4j&lt;/groupId&gt;
            &lt;artifactId&gt;slf4j-log4j12&lt;/artifactId&gt;
            &lt;version&gt;1.7.12&lt;/version&gt;
        &lt;/dependency&gt;
        

	&lt;/dependencies&gt;
	&lt;build&gt;
		&lt;pluginManagement&gt;
			&lt;plugins&gt;
				&lt;plugin&gt;
					&lt;groupId&gt;org.apache.maven.plugins&lt;/groupId&gt;
					&lt;artifactId&gt;maven-compiler-plugin&lt;/artifactId&gt;
					&lt;version&gt;3.5.1&lt;/version&gt;
					&lt;configuration&gt;
						&lt;source&gt;1.8&lt;/source&gt;
						&lt;target&gt;1.8&lt;/target&gt;
					&lt;/configuration&gt;
				&lt;/plugin&gt;

				&lt;plugin&gt;
					&lt;groupId&gt;org.apache.camel&lt;/groupId&gt;
					&lt;artifactId&gt;camel-maven-plugin&lt;/artifactId&gt;
					&lt;version&gt;2.17.1&lt;/version&gt;
					<em>&lt;!-- the file must be in the classpath --&gt;</em>
					&lt;configuration&gt;
						&lt;applicationContextUri&gt;camel-spring.xml&lt;/applicationContextUri&gt;
					&lt;/configuration&gt;
				&lt;/plugin&gt;

			&lt;/plugins&gt;
		&lt;/pluginManagement&gt;
	&lt;/build&gt;
&lt;/project&gt;
</code></pre>
</div></div>

<div class="panel panel-primary"><div class="panel-heading">Employee.java</div><div class="panel-body">
<pre ><code>
package com.camel.object.as.body;

public class Employee {

	private String	name;
	private String	designation;
	private String	location;

	public Employee() {

	}

	public Employee(String name, String designation, String location) {
		super();
		this.name = name;
		this.designation = designation;
		this.location = location;
	}

	public String getName() {
		return name;
	}

	public void setName(String name) {
		this.name = name;
	}

	public String getDesignation() {
		return designation;
	}

	public void setDesignation(String designation) {
		this.designation = designation;
	}

	public String getLocation() {
		return location;
	}

	public void setLocation(String location) {
		this.location = location;
	}
}
</code></pre>
</div></div>

<div class="panel panel-primary"><div class="panel-heading">ObjectAsBodyBean.java</div><div class="panel-body">
<pre ><code>
package com.camel.object.as.body;

import org.apache.camel.Exchange;

public class ObjectAsBodyBean {

	public String testBean(Exchange exchange) {
		System.out.println(&quot;ObjectAsBean.testBean&quot;);
		Employee employee = exchange.getIn().getBody(Employee.class);
		System.out.println(&quot;Emp Name: &quot; + employee.getName() + &quot;, Emp Desig: &quot; + employee.getDesignation()+ &quot;, Emp Loc: &quot; + employee.getLocation());
		return &quot;success&quot;;
	}
}
</code></pre>
</div></div>

<div class="panel panel-primary"><div class="panel-heading">ObjectAsBodyRouteBuilder.java</div><div class="panel-body">
<pre ><code>
package com.camel.object.as.body;

import org.apache.camel.builder.RouteBuilder;

public class ObjectAsBodyRouteBuilder extends RouteBuilder {

	@Override
	public void configure() throws Exception {
		System.out.println(&quot;ObjectAsBodyRouteBuilder.configure()&quot;);
		from(&quot;direct:start&quot;).bean(new ObjectAsBodyBean()).end();
	}
}
</code></pre>
</div></div>

<div class="panel panel-primary"><div class="panel-heading">App.java</div><div class="panel-body">
<pre ><code>
package com.camel.object.as.body;

import org.apache.camel.CamelContext;
import org.apache.camel.Exchange;
import org.apache.camel.Message;
import org.apache.camel.ProducerTemplate;
import org.apache.camel.impl.DefaultCamelContext;
import org.apache.camel.impl.DefaultExchange;
import org.apache.camel.impl.DefaultMessage;

public class App {

	public static void main(String[] args) throws Exception {
		<em>// create an Employee object</em>
		Employee employee = new Employee(&quot;john&quot;, &quot;architect&quot;, &quot;US&quot;);

		<em>// create camel context, add route(s) to it and start camel context</em>
		CamelContext context = new DefaultCamelContext();
		context.addRoutes(new ObjectAsBodyRouteBuilder());
		context.start();

		<em>// create camel message and add employee object as body to message</em>
		Message defaultMessage = new DefaultMessage();
		defaultMessage.setBody(employee);

		<em>// create Exchange and add camel message to it</em>
		Exchange exchange = new DefaultExchange(context);
		exchange.setIn(defaultMessage);

		ProducerTemplate template = context.createProducerTemplate();
		template.send(&quot;direct:start&quot;, exchange);

		Thread.sleep(1000 * 60 * 2);
		<em>// stop camel context</em>
		context.stop();
	}
}
</code></pre>
</div></div>

<div class="panel panel-primary"><div class="panel-heading">Output</div><div class="panel-body">
<pre ><code>
ObjectAsBodyRouteBuilder.configure()
17/12/16 12:40:16 INFO impl.DefaultCamelContext: Apache Camel 2.17.1 (CamelContext: camel-1) is starting
17/12/16 12:40:16 INFO management.ManagedManagementStrategy: JMX is enabled
17/12/16 12:40:17 INFO converter.DefaultTypeConverter: Loaded 195 type converters
17/12/16 12:40:17 INFO impl.DefaultRuntimeEndpointRegistry: Runtime endpoint registry is in extended mode gathering usage statistics of all incoming and outgoing endpoints (cache limit: 1000)
17/12/16 12:40:18 INFO impl.DefaultCamelContext: AllowUseOriginalMessage is enabled. If access to the original message is not needed, then its recommended to turn this option off as it may improve performance.
17/12/16 12:40:18 INFO impl.DefaultCamelContext: StreamCaching is not in use. If using streams then its recommended to enable stream caching. See more details at http://camel.apache.org/stream-caching.html
17/12/16 12:40:18 INFO impl.DefaultCamelContext: Route: route1 started and consuming from: Endpoint[direct://start]
17/12/16 12:40:18 INFO impl.DefaultCamelContext: Total 1 routes, of which 1 are started.
17/12/16 12:40:18 INFO impl.DefaultCamelContext: Apache Camel 2.17.1 (CamelContext: camel-1) started in 1.977 seconds
ObjectAsBean.testBean
Emp Name: john, Emp Desig: architect, Emp Loc: US
</code></pre>
</div></div>