<div class="panel panel-primary"><div class="panel-heading">Materials</div><div class="panel-body">
	<ul>
		<li><a href="http://www.mastertheintegration.com/camel/camel-introduction.html" target="_blank">Camel Introduction</a></li>
		<li><a href="http://camel.apache.org/getting-started.html" target="_blank">Camel Getting started - Apache documentation</a></li>		
		<li><a href="http://examples.javacodegeeks.com/enterprise-java/apache-camel/apache-camel-activemq-example/" target="_blank">Camel + Active MQ</a></li>
		<li><a href="http://examples.javacodegeeks.com/enterprise-java/apache-camel/apache-camel-activemq-example/" target="_blank">Camel + Active MQ + Spring</a></li>
	</ul>
</div></div>

<div class="panel panel-primary"><div class="panel-heading">Workspaces</div><div class="panel-body">
	<ul>
		<li>Eclipse Oxygen: E:\workspaces\camel-ws</li>
	</ul>
</div></div>

<div class="panel panel-primary"><div class="panel-heading">Projects</div><div class="panel-body">
	<ul>
		<li><a href="https://github.com/avinashbabudonthu/ApacheCamel.git" target="_blank">Github Link</a></li>
	</ul>
</div></div>

<div class="panel panel-primary"><div class="panel-heading">Apache Camel Examples</div><div class="panel-body">
	<ul>
		<li><a ng-href="#camelHelloWorld" ng-click="buildBreadCrumbs('Camel Hello World', '#camelMarshalCsv')">Apache Camel Hello World</a></li>
		<li><a ng-href="#camelWithBean" ng-click="buildBreadCrumbs('Camel + Routers + Bean with default method', '#camelWithBean')">Camel + Routers + Bean with default method</a></li>
		<li><a ng-href="#camelWithBean2" ng-click="buildBreadCrumbs('Camel + Routers + Bean with our custom method', '#camelWithBean2')">Camel + Routers + Bean with our custom method</a></li>
		<li><a ng-href="#camelWithBeanAndProcessor" ng-click="buildBreadCrumbs('Camel + Bean + Processor', '#camelWithBeanAndProcessor')">Camel + Bean + Processor</a></li>

<!-- 		
		<li><a ng-href="#camelWithSpring" ng-click="buildBreadCrumbs('Camel + Spring', '#camelWithSpring')">Camel + Spring</a></li>
		<li><a ng-href="#camelSpringProcessorBean" ng-click="buildBreadCrumbs('Camel with Spring and Processor and Bean', '#camelSpringProcessorBean')">Apache Camel With Spring and Processor and Bean</a></li>
		<li>Using bean in the Router</li>
		<li>Using Processor and Bean in the Router</li>
		<li>Camel with Spring Bean</li>
		<li><a ng-href="#camelMarshalCsv" ng-click="buildBreadCrumbs('Marshal CSV using Camel', '#camelMarshalCsv')">Marshal (converting List to CSV) List to CSV file using Apache Camel</a></li>
		<li><a ng-href="#camelUnmarshalCsv" ng-click="buildBreadCrumbs('Unmarshal CSV using Camel', '#camelUnmarshalCsv')">Unmarshal (converting CSV to List) CSV File using Apache Camel</a></li> 
-->
	</ul>
</div></div>