<!-- Body Content -->
<div class="page-header">
    <h3>Core Java</h3>      
</div>

<div class="panel panel-primary"><div class="panel-heading">Contents</div><div class="panel-body">
<ul>
  		<li><a ng-href="">Core Java Definitions</a></li>
  		<li><a ng-href="#string" ng-click="buildBreadCrumbs('Core Java String examples', '#string')">String Practice</a></li>
  		<li><a ng-href="#date" ng-click="buildBreadCrumbs('Core Java Date examples', '#date')">Date Practice</a></li>
  		<li><a ng-href="#list" ng-click="buildBreadCrumbs('Core Java List examples', '#list')">List</a></li>
  		<li><a ng-href="#map" ng-click="buildBreadCrumbs('Core Java Map examples', '#map')">Map</a></li>
  		<li><a ng-href="#annotations" ng-click="buildBreadCrumbs('Core Java Annotations examples', '#annotations')">Annotations Practice</a></li>
  		<li><a ng-href="#enums" ng-click="buildBreadCrumbs('Core Java Enums examples', '#enums')">Enums</a></li>
  		<li><a ng-href="#aspectJ" ng-click="buildBreadCrumbs('Core Java AspectJ examples', '#aspectJ')">Implementing AOP using AspectJ</a></li>
  		<li><a ng-href="#fileIO" ng-click="buildBreadCrumbs('Core Java File IO examples', '#fileIO')">File IO</a></li>
  		<li><a ng-href="#multiThreading" ng-click="buildBreadCrumbs('Core Java Multi threading examples', '#multiThreading')">Multi Threading</a></li>
  		<li><a ng-href="#dynamicProxies" ng-click="buildBreadCrumbs('Core Java Dynamic Proxies examples', '#dynamicProxies')">Dynamic Proxies</a></li>
  		<li>Generate Random number</li>
  		<li><a ng-href="#immutableObject" ng-click="buildBreadCrumbs('Creating an Immutable Object', '#immutableObject')">Immutable object</a></li>
  		<li><a ng-href="#singletonObject" ng-click="buildBreadCrumbs('Creating Singleton Object', '#singletonObject')">Singleton object</a></li>
  		<li><a ng-href="#hashMapInternals" ng-click="buildBreadCrumbs('Internals of HashMap', '#hashMapInternals')">Internals of HashMap</a></li>
  		<li>Message Format</li>
  		<li>Regex</li>
  		<li><a ng-href="http://docs.oracle.com/javase/tutorial/index.html" target="_blank">Java Docs</a></li>
</ul>
</div></div>

<div class="panel panel-primary"><div class="panel-heading">JDK 8</div><div class="panel-body">

<ul>
	<li><em>Example:</em>
	<ul>
		<li>Java 8 - Base 64</li>
  		<li>Java 8 - Constructor Reference Java 8</li>
  		<li>Java 8 - Date time API</li>
  		<li>Java 8 - Interfaces</li>
  		<li>Java 8 - Lambda Expression</li>
  		<li>Nashron Engine</li>
  		<li>Java 8 - java.util.Optional</li>
  		<li>Java 8 - Parameter Names</li>
  		<li>Java 8 - Repeating Annotations</li>
  		<li>Java 8 - Type References</li>
  		<li>Java 8 - Method References</li>
  		<li><a ng-href="#java8CollectionStreams" ng-click="buildBreadCrumbs('Java 8 - Collection Streams', '#java8CollectionStreams')">Collection Streams</a></li>
  		<li><a ng-href="#java8Function" ng-click="buildBreadCrumbs('Java 8 - Function Interface', '#java8Function')">java.util.function.Function interface</a></li>
	</ul>
	</li>
	<li><em>References: </em>
	<ul>
		<li><a ng-href="https://www.tutorialspoint.com/java8/java8_interview_questions.htm" target="_blank">Java 8 Interview Questions</a></li>
		<li><a ng-href="http://www.concretepage.com/java/jdk-8/java-8-biconsumer-bifunction-bipredicate-example" target="_blank">Java 8 BiConsumer, BiFunction and BiPredicate Example</a></li>
	</ul>	
	</li>
</ul>
</div></div>