<div class="panel panel-primary"><div class="panel-heading">Contents</div><div class="panel-body">
<ul>
  <li><a ng-href="#easymockHelloWorld" ng-click="buildBreadCrumbs('Easymock Hello world', '#easymockHelloWorld')">Easymock Hello world</a></li>
  <li><a ng-href="#easymockAnnotations" ng-click="buildBreadCrumbs('Easymock Annotations', '#easymockAnnotations')">Easymock Annotations</a></li>
  <li><a ng-href="#easymockStrictmock" ng-click="buildBreadCrumbs('Easymock strictmock', '#easymockStrictmock')">Easymock strictmock</a></li>
</ul>
</div></div>