<div class="panel panel-primary"><div class="panel-heading">Hibernate 4 Examples</div><div class="panel-body">
	<ul>
		<li><a ng-href="#hibernate4Crud" ng-click="buildBreadCrumbs('Hibernate 4 Crud', '#hibernate4Crud')">Hibernate 4 Crud</a></li>
		<li><a ng-href="#hibernate4Merge" ng-click="buildBreadCrumbs('Hibernate 4 Merge', '#hibernate4Merge')">Merge method</a></li>
		<li><a ng-href="#hibernate4Hql" ng-click="buildBreadCrumbs('Hibernate 4 HQL Examples', '#hibernate4Hql')">HQL Examples</a></li>
	</ul>
</div></div>

<div class="panel panel-primary"><div class="panel-heading">Hibernate 5 Examples</div><div class="panel-body">
	<ul>
		<li><a ng-href="#hibernate5HelloWorld" ng-click="buildBreadCrumbs('Hibernate 5 Hello World', '#hibernate5HelloWorld')">Hibernate 5 Hello World</a></li>
	</ul>
</div></div>

<div class="panel panel-primary"><div class="panel-heading">Other References</div><div class="panel-body">
	<ul>
		<li><a ng-href="http://hibernate.org/search/documentation/getting-started/" target="_blank">Hibernate Search Basics</a></li>
		<li><a ng-href="https://docs.jboss.org/hibernate/stable/search/reference/en-US/html_single/?v=5.7#preface" target="_blank">Hibernate Search Full Reference Guide</a></li>
		<li><a ng-href="https://docs.jboss.org/hibernate/orm/4.0/devguide/en-US/html/ch05.html" target="_blank">Locking</a></li>
		<li><a ng-href="http://docs.jboss.org/hibernate/orm/3.6/reference/en-US/html/performance.html" target="_blank">Improving Performance</a></li>
	</ul>
</div></div>