<div class="page-header">
    <h3>Cerebro</h3>      
</div>	

<div class="row">

<div class="container">
<div class="list-group">
  <a ng-href="#coreJava" ng-click="buildBreadCrumbs('Core Java', '#coreJava')" class="list-group-item">
  	  <h4 class="list-group-item-heading">Core Java</h4>
      <p class="list-group-item-text">Core Java Example</p>
  </a>
  <a ng-href="#hibernate" ng-click="buildBreadCrumbs('Hibernate', '#hibernate')" class="list-group-item">
      <h4 class="list-group-item-heading">Hibernate</h4>
      <p class="list-group-item-text">Hibernate Example</p>
  </a>
  <a ng-href="#spring" ng-click="buildBreadCrumbs('Spring', '#spring')" class="list-group-item">
      <h4 class="list-group-item-heading">Spring</h4>
      <p class="list-group-item-text">Spring Example</p>
  </a>
  <a ng-href="#ant"  ng-click="buildBreadCrumbs('Ant', '#ant')" class="list-group-item">
      <h4 class="list-group-item-heading">Ant (Another Neat Tool)</h4>
      <p class="list-group-item-text">Ant (Another Neat Tool) Example</p>
  </a>
  <a ng-href="#maven"  ng-click="buildBreadCrumbs('Maven', '#maven')" class="list-group-item">
      <h4 class="list-group-item-heading">Maven</h4>
      <p class="list-group-item-text">Maven Example</p>
  </a>
  <a ng-href="#gradle"  ng-click="buildBreadCrumbs('Gradle', '#gradle')" class="list-group-item">
      <h4 class="list-group-item-heading">Gradle</h4>
      <p class="list-group-item-text">Gradle Example</p>
  </a>
  <a ng-href="#tools"  ng-click="buildBreadCrumbs('Tools', '#tools')" class="list-group-item">
      <h4 class="list-group-item-heading">Tools</h4>
      <p class="list-group-item-text">Tools Example</p>
  </a>
  <a ng-href="#unitTesting"  ng-click="buildBreadCrumbs('Unit Testing', '#unitTesting')" class="list-group-item">
      <h4 class="list-group-item-heading">Unit Testing</h4>
      <p class="list-group-item-text">Unit Testing Example</p>
  </a>
  <a ng-href="#db"  ng-click="buildBreadCrumbs('DB', '#db')" class="list-group-item">
      <h4 class="list-group-item-heading">DB</h4>
      <p class="list-group-item-text">DB Example</p>
  </a>
  <a ng-href="#camel"  ng-click="buildBreadCrumbs('Camel', '#camel')" class="list-group-item">
      <h4 class="list-group-item-heading">Apache Camel</h4>
      <p class="list-group-item-text">Apache Camel Example</p>
  </a>
  <a ng-href="#webservices"  ng-click="buildBreadCrumbs('Web Services', '#webservices')" class="list-group-item">
      <h4 class="list-group-item-heading">Web Services</h4>
      <p class="list-group-item-text">Examples on SOAP Web Services and RESTful Web Services</p>
  </a>
  <a ng-href="#mongoDB" ng-click="buildBreadCrumbs('MongoDB', '#mongoDB')" class="list-group-item">
  	<h4 class="list-group-item-heading">Mongo DB</h4>
      <p class="list-group-item-text">Mongo DB with Mongo shell, MongoDB with Java, Spring Data MongoDB</p>
  </a>
  <a ng-href="#designPatterns" ng-click="buildBreadCrumbs('Design Patterns', '#designPatterns')" class="list-group-item">
  	<h4 class="list-group-item-heading">Design Patterns</h4>
      <p class="list-group-item-text">Creational, Structural, Behavioral design patterns</p>
  </a>
  
  <a ng-href="#jdkTools" ng-click="buildBreadCrumbs('JDK Tools', '#jdkTools')" class="list-group-item">
  	<h4 class="list-group-item-heading">JDK Tools</h4>
      <p class="list-group-item-text">jps, jjs, jdeps, jconsole, jvisualvm, native2ascii</p>
  </a>
</div></div>

</div>

<!-- Pagination start-->
<nav aria-label="Page navigation">
  <ul class="pagination">
    <li><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
    <li><a href="#">1 <span class="sr-only">(current)</span></a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li><a href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
  </ul>
</nav>
<!-- Pagination end-->