<div class="page-header">
	<h3>Cerebro</h3>
</div>

<div class="row">

	<!-- <div class="container">
<div class="list-group">
  <a ng-href="#coreJava" ng-click="buildBreadCrumbs('Core Java', '#coreJava')" class="list-group-item">
  	  <h4 class="list-group-item-heading">Core Java</h4>
      <p class="list-group-item-text">Core Java Example</p>
  </a>
  <a ng-href="#hibernate" ng-click="buildBreadCrumbs('Hibernate', '#hibernate')" class="list-group-item">
      <h4 class="list-group-item-heading">Hibernate</h4>
      <p class="list-group-item-text">Hibernate Example</p>
  </a>
  <a ng-href="#spring" ng-click="buildBreadCrumbs('Spring', '#spring')" class="list-group-item">
      <h4 class="list-group-item-heading">Spring</h4>
      <p class="list-group-item-text">Spring Example</p>
  </a>
  <a ng-href="#ant"  ng-click="buildBreadCrumbs('Ant', '#ant')" class="list-group-item">
      <h4 class="list-group-item-heading">Ant (Another Neat Tool)</h4>
      <p class="list-group-item-text">Ant (Another Neat Tool) Example</p>
  </a>
  <a ng-href="#maven"  ng-click="buildBreadCrumbs('Maven', '#maven')" class="list-group-item">
      <h4 class="list-group-item-heading">Maven</h4>
      <p class="list-group-item-text">Maven Example</p>
  </a>
  <a ng-href="#gradle"  ng-click="buildBreadCrumbs('Gradle', '#gradle')" class="list-group-item">
      <h4 class="list-group-item-heading">Gradle</h4>
      <p class="list-group-item-text">Gradle Example</p>
  </a>
  <a ng-href="#tools"  ng-click="buildBreadCrumbs('Tools', '#tools')" class="list-group-item">
      <h4 class="list-group-item-heading">Tools</h4>
      <p class="list-group-item-text">Tools Example</p>
  </a>
  <a ng-href="#unitTesting"  ng-click="buildBreadCrumbs('Unit Testing', '#unitTesting')" class="list-group-item">
      <h4 class="list-group-item-heading">Unit Testing</h4>
      <p class="list-group-item-text">Unit Testing Example</p>
  </a>
  <a ng-href="#db"  ng-click="buildBreadCrumbs('DB', '#db')" class="list-group-item">
      <h4 class="list-group-item-heading">DB</h4>
      <p class="list-group-item-text">DB Example</p>
  </a>
  <a ng-href="#camel"  ng-click="buildBreadCrumbs('Camel', '#camel')" class="list-group-item">
      <h4 class="list-group-item-heading">Apache Camel</h4>
      <p class="list-group-item-text">Apache Camel Example</p>
  </a>
  <a ng-href="#webservices"  ng-click="buildBreadCrumbs('Web Services', '#webservices')" class="list-group-item">
      <h4 class="list-group-item-heading">Web Services</h4>
      <p class="list-group-item-text">Examples on SOAP Web Services and RESTful Web Services</p>
  </a>
  <a ng-href="#mongoDB" ng-click="buildBreadCrumbs('MongoDB', '#mongoDB')" class="list-group-item">
  	<h4 class="list-group-item-heading">Mongo DB</h4>
      <p class="list-group-item-text">Mongo DB with Mongo shell, MongoDB with Java, Spring Data MongoDB</p>
  </a>
  <a ng-href="#designPatterns" ng-click="buildBreadCrumbs('Design Patterns', '#designPatterns')" class="list-group-item">
  	<h4 class="list-group-item-heading">Design Patterns</h4>
      <p class="list-group-item-text">Creational, Structural, Behavioral design patterns</p>
  </a>
  
  <a ng-href="#jdkTools" ng-click="buildBreadCrumbs('JDK Tools', '#jdkTools')" class="list-group-item">
  	<h4 class="list-group-item-heading">JDK Tools</h4>
      <p class="list-group-item-text">jps, jjs, jdeps, jconsole, jvisualvm, native2ascii</p>
  </a>
  
  <a ng-href="#jvm" ng-click="buildBreadCrumbs('JVM', '#jvm')" class="list-group-item">
  	<h4 class="list-group-item-heading">JVM</h4>
      <p class="list-group-item-text">Java Virtual Machine</p>
  </a>
  
  <a ng-href="#gc" ng-click="buildBreadCrumbs('Garbage Collection', '#gc')" class="list-group-item">
  	<h4 class="list-group-item-heading">Garbage Collection</h4>
      <p class="list-group-item-text">Garbage Collection</p>
  </a>
</div></div> -->

<div class="col-sm-4">
	<div class="panel panel-primary">
		<div class="panel-heading">Core Java</div>
		<div class="panel-body">
			<ul>
				<li><a ng-href="#string" ng-click="buildBreadCrumbs('Core Java String examples', '#string')">String Practice</a></li>
  				<li><a ng-href="#date" ng-click="buildBreadCrumbs('Core Java Date examples', '#date')">Date Practice</a></li>
  				<li><a ng-href="#list" ng-click="buildBreadCrumbs('Core Java List examples', '#list')">List</a></li>
  				<li><a ng-href="#coreJava" ng-click="buildBreadCrumbs('Core Java', '#coreJava')">More...</a></li>
			</ul>		
		</div>
	</div>
</div>

<div class="col-sm-4">
	<div class="panel panel-primary">
		<div class="panel-heading">Spring</div>
		<div class="panel-body">
			<ul>
				<li>Spring Core</li>
				<li>Spring MVC</li>
				<li>Spring REST</li>
  				<li><a ng-href="#spring" ng-click="buildBreadCrumbs('Spring', '#spring')">More...</a></li>
  				
			</ul>		
		</div>
	</div>
</div>

<div class="col-sm-4">
	<div class="panel panel-primary">
		<div class="panel-heading">Maven</div>
		<div class="panel-body">
			<ul>
				<li><a ng-href="#installMaven" ng-click="buildBreadCrumbs('Install Maven', '#installMaven')">Install Maven</a></li>
				<li><a ng-href="#repositoriesTag" ng-click="buildBreadCrumbs('repositories tag in pom.xml', '#repositoriesTag')">repositories tag in pom.xml</a></li>
				<li><a ng-href="#coreJavaProjectWithMaven" ng-click="buildBreadCrumbs('Create Core Java Project', '#coreJavaProjectWithMaven')">Create Core Java Project using Maven</a></li>
  				<li><a ng-href="#maven" ng-click="buildBreadCrumbs('Maven', '#maven')">More...</a></li>
			</ul>		
		</div>
	</div>
</div>

<div class="col-sm-4">
	<div class="panel panel-primary">
		<div class="panel-heading">Tools</div>
		<div class="panel-body">
			<ul>
				<li>JSON</li>
				<li>Dozer</li>
				<li>Code Coverage Tools</li>
  				<li><a ng-href="#tools" ng-click="buildBreadCrumbs('Tools', '#tools')">More...</a></li>
  				
			</ul>		
		</div>
	</div>
</div>

<div class="col-sm-4">
	<div class="panel panel-primary">
		<div class="panel-heading">Unit Testing</div>
		<div class="panel-body">
			<ul>
				<li><a ng-href="#junit">JUnit</a></li>
				<li>Mockito</li>
				<li>PowerMock</li>
  				<li><a ng-href="#unitTesting" ng-click="buildBreadCrumbs('Unit Testing', '#unitTesting')">More...</a></li>
  				
			</ul>		
		</div>
	</div>
</div>

<div class="col-sm-4">
	<div class="panel panel-primary">
		<div class="panel-heading">DB</div>
		<div class="panel-body">
			<ul>
				<li><a ng-href="#practiceDBScripts">DB Scripts to create practice DB</a></li>
				<li><a ng-href="#h2DB">H2</a></li>
				<li><a ng-href="#dbJoins" ng-click="buildBreadCrumbs('SQL Joins', '#dbJoins')">Joins</a></li>
  				<li><a ng-href="#db" ng-click="buildBreadCrumbs('DB', '#db')">More...</a></li>
  				
			</ul>		
		</div>
	</div>
</div>

<div class="col-sm-4">
	<div class="panel panel-primary">
		<div class="panel-heading">Camel</div>
		<div class="panel-body">
			<ul>
				<li>Apache Camel Hello World</li>
				<li>Using bean in the Router</li>
				<li>Using Processor and Bean in the Router</li>
  				<li><a ng-href="#camel" ng-click="buildBreadCrumbs('Camel', '#camel')">More...</a></li>
  				
			</ul>		
		</div>
	</div>
</div>

<div class="col-sm-4">
	<div class="panel panel-primary">
		<div class="panel-heading">Web Services</div>
		<div class="panel-body">
			<ul>
				<li>Jersey Implementation</li>
				<li>Spring Implementation</li>
				<li>DropWizard Implementation</li>
  				<li><a ng-href="#webservices" ng-click="buildBreadCrumbs('Web Services', '#webservices')">More...</a></li>
  				
			</ul>		
		</div>
	</div>
</div>

<div class="col-sm-4">
	<div class="panel panel-primary">
		<div class="panel-heading">MongoDB</div>
		<div class="panel-body">
			<ul>
				<li>MongoDB Installation in Windows</li>
				<li>MongoDB with Java</li>
				<li>Spring Data MongoDB</li>
  				<li><a ng-href="#mongoDB" ng-click="buildBreadCrumbs('MongoDB', '#mongoDB')">More...</a></li>
  				
			</ul>		
		</div>
	</div>
</div>

<div class="col-sm-4">
	<div class="panel panel-primary">
		<div class="panel-heading">Design Patterns</div>
		<div class="panel-body">
			<ul>
				<li>Creational</li>
				<li>Structural</li>
				<li>Behavioral</li>
  				<li><a ng-href="#designPatterns" ng-click="buildBreadCrumbs('Design Patterns', '#designPatterns')">More...</a></li>
  				
			</ul>		
		</div>
	</div>
</div>

<div class="col-sm-4">
	<div class="panel panel-primary">
		<div class="panel-heading">JDK Tools</div>
		<div class="panel-body">
			<ul>
				<li><a ng-href="#native2ascii" ng-click="buildBreadCrumbs('Convert characters to Unicode', '#native2ascii')">native2ascii</a></li>
				<li>jps</li>
				<li>javap</li>
  				<li><a ng-href="#jdkTools" ng-click="buildBreadCrumbs('JDK Tools', '#jdkTools')">More...</a></li>
  				
			</ul>		
		</div>
	</div>
</div>

<div class="col-sm-4">
	<div class="panel panel-primary">
		<div class="panel-heading">Java Garbage Collection</div>
		<div class="panel-body">
			<ul>
				<li>Garbage Collection by Plumbr</li>
				<li>How to monitor Java Garbage Collection</li>
				<li>Java application performance tuning</li>
  				<li><a ng-href="#gc" ng-click="buildBreadCrumbs('Garbage Collection', '#gc')">More...</a></li>
  				
			</ul>		
		</div>
	</div>
</div>

<div class="col-sm-4">
	<div class="panel panel-primary">
		<div class="panel-heading">Hibernate</div>
		<div class="panel-body">
			<ul>
				<li><a ng-href="#hibernate5HelloWorld">Hibernate 5 Hello World</a></li>
  				<li><a ng-href="#hibernate" ng-click="buildBreadCrumbs('Hibernate', '#hibernate')">More...</a></li>
  				
			</ul>		
		</div>
	</div>
</div>

<div class="col-sm-4">
	<div class="panel panel-primary">
		<div class="panel-heading">Ant (Another Neat Tool)</div>
		<div class="panel-body">
			<ul>
				<li><a ng-href="#antJacoco">Ant - Jacoco Integration</a></li>
  				<li><a ng-href="#ant" ng-click="buildBreadCrumbs('Ant', '#ant')">More...</a></li>
  				
			</ul>		
		</div>
	</div>
</div>

<div class="col-sm-4">
	<div class="panel panel-primary">
		<div class="panel-heading">Gradle</div>
		<div class="panel-body">
			<ul>
				<li><a ng-href="https://docs.gradle.org/current/dsl/" target="_blank"">Gradle Documentation</a></li>
  				<li><a ng-href="#gradle" ng-click="buildBreadCrumbs('Gradle', '#gradle')">More...</a></li>
  				
			</ul>		
		</div>
	</div>
</div>

<div class="col-sm-4">
	<div class="panel panel-primary">
		<div class="panel-heading">Java Virtual Machine</div>
		<div class="panel-body">
			<ul>
				<li>Inside Java Virtual Machine</li>
				<li>Java Application Performance Tuning</li>
  				<li><a ng-href="#jvm" ng-click="buildBreadCrumbs('JVM', '#jvm')">More...</a></li>
  				
			</ul>		
		</div>
	</div>
</div>

</div>

<!-- Pagination start-->
<nav aria-label="Page navigation">
	<ul class="pagination">
		<li><a href="#" aria-label="Previous"><span
				aria-hidden="true">&laquo;</span></a></li>
		<li><a href="#">1 <span class="sr-only">(current)</span></a></li>
		<li><a href="#">2</a></li>
		<li><a href="#">3</a></li>
		<li><a href="#">4</a></li>
		<li><a href="#">5</a></li>
		<li><a href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
	</ul>
</nav>
<!-- Pagination end-->