<h4 class="text-center"><em>Languages</em></h4>
<div class="row">
	<div class="col-sm-4">
		<div class="panel panel-primary">
			<div class="panel-heading">Core Java</div>
			<div class="panel-body">
				<ul>
					<li><a ng-href="#string" ng-click="buildBreadCrumbs('String Examples', '#string'); changeToString();">String Practice</a></li>
					<li><a ng-href="#date"ng-click="buildBreadCrumbs('Date Examples', '#date')">Date Practice</a></li>
					<li><a ng-href="#list" ng-click="buildBreadCrumbs('List Examples', '#list')">List</a></li>
					<li><a ng-href="#fileIO" ng-click="buildBreadCrumbs('Core Java File IO examples', '#fileIO')">File IO</a></li>
					<a ng-href="#coreJava" ng-click="buildBreadCrumbs('Core Java', '#coreJava')" class="btn btn-default btn-sm" role="button" style="border-radius: 25px;float: right;">SEE MORE</a>
				</ul>
			</div>
		</div>
	</div>
	
	<div class="col-sm-4">
		<div class="panel panel-primary">
			<div class="panel-heading">Groovy</div>
			<div class="panel-body">
				<ul>
					<li>Groovy Installation</li>
					<li>String Practice</li>
					<li>Date Practice</li>
					<li>Collections Practice</li>
					<a ng-href="#groovy" ng-click="buildBreadCrumbs('Groovy', '#groovy')" class="btn btn-default btn-sm" role="button" style="border-radius: 25px;float: right;">SEE MORE</a>
				</ul>
			</div>
		</div>
	</div>
	
	<div class="col-sm-4">
		<div class="panel panel-primary">
			<div class="panel-heading">Scala</div>
			<div class="panel-body">
				<ul>
					<li><a ng-href="#installScala" ng-click="buildBreadCrumbs('Install Scala', '#installScala')">Installing Scala, SBT and Scala IDE</a></li>
					<li><a ng-href="#scalaHelloWorldWithSbt" ng-click="buildBreadCrumbs('Scala Hello World with SBT', '#scalaHelloWorldWithSbt')">Scala Hello World with sbt</a></li>
					<li>String Practice</li>
					<li>Collections Practice</li>
					<a ng-href="#scala" ng-click="buildBreadCrumbs('Scala', '#scala')" class="btn btn-default btn-sm" role="button" style="border-radius: 25px;float: right;">SEE MORE</a>
				</ul>
			</div>
		</div>
	</div>
	
	<div class="col-sm-4">
		<div class="panel panel-primary">
			<div class="panel-heading">Python</div>
			<div class="panel-body">
				<ul>
					<li>Python Installation</li>
					<li>Python IDE Installation</li>
					<li>String Practice</li>
					<li>Collections Practice</li>
				</ul>
			</div>
		</div>
	</div>
	
</div>
<hr />

<h4 class="text-center"><em>Logging</em></h4>
<div class="row">
	<div class="col-sm-4">
		<div class="panel panel-primary">
			<div class="panel-heading">java.util.logging</div>
			<div class="panel-body">
				<ul>
					<li><a ng-href="#utilLoggingHelloWorld" ng-click="buildBreadCrumbs('Util Logging Hello World', '#utilLoggingHelloWorld')">Util Logging Hello World</a></li>
					<li><a ng-href="#utilLoggingMethodHandles" ng-click="buildBreadCrumbs('Util Logging + MethodHandles', '#utilLoggingMethodHandles')">Util Logging + MethodHandles</a></li>
					<a ng-href="#utilLogging" ng-click="buildBreadCrumbs('Java Util Logging', '#utilLogging')" class="btn btn-default btn-sm" role="button" style="border-radius: 25px;float: right;">SEE MORE</a>
				</ul>
			</div>
		</div>
	</div>
	
	<div class="col-sm-4">
		<div class="panel panel-primary">
			<div class="panel-heading">Log4J</div>
			<div class="panel-body">
				<ul>
					<li><a ng-href="#log4jHelloWorld" ng-click="buildBreadCrumbs('Log4J Hello World', '#log4jHelloWorld')">Log4J Hello World</a></li>
					<li><a ng-href="#log4jMethodHandles" ng-click="buildBreadCrumbs('Log4J + MethodHandles', '#log4jMethodHandles')">Log4J + MethodHandles</a></li>
					<a ng-href="#log4j" ng-click="buildBreadCrumbs('Log4J', '#log4j')" class="btn btn-default btn-sm" role="button" style="border-radius: 25px;float: right;">SEE MORE</a>
				</ul>
			</div>
		</div>
	</div>
	
	<div class="col-sm-4">
		<div class="panel panel-primary">
			<div class="panel-heading">Slf4J</div>
			<div class="panel-body">
				<ul>
					<li>Using properties file</li>
					<li>Using xml</li>
					<li>Using MethodHandles</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<hr />

<h4 class="text-center"><em><a ng-href="#spring" ng-click="buildBreadCrumbs('Spring', '#spring')">Spring <span class="glyphicon glyphicon-link"/></a></em></h4>
<div class="row">
	<div class="col-sm-4">
		<div class="panel panel-primary">
			<div class="panel-heading">Spring Core</div>
			<div class="panel-body">
				<ul>
					<li><a ng-href="#springDIHelloWorldXml" ng-click="buildBreadCrumbs('Spring DI Hello World using setter injection', '#springDIHelloWorldXml')">Spring DI Hello World using setter injection</a></li>
					<li><a ng-href="#springDIConstructorInjectionXml" ng-click="buildBreadCrumbs('Spring DI Hello World using constructor injection', '#springDIConstructorInjectionXml')">Spring DI Hello World using constructor injection</a></li>
					<li><a ng-href="#springInjectCollectionsXml" ng-click="buildBreadCrumbs('Spring Injecting collections', '#springInjectCollectionsXml')">Spring Injecting collections</a></li>
					<li><a ng-href="#springResourceBundleXml" ng-click="buildBreadCrumbs('Spring Resource Bundle Message Source', '#springResourceBundleXml')">Spring Resource Bundle Message Source</a></li>
  					<a ng-href="#spring" ng-click="buildBreadCrumbs('Spring', '#spring')" class="btn btn-default btn-sm" role="button" style="border-radius: 25px;float: right;">SEE MORE</a>
				</ul>
			</div>
		</div>
	</div>
	
	<div class="col-sm-4">
		<div class="panel panel-primary">
			<div class="panel-heading">Spring MVC</div>
			<div class="panel-body">
				<ul>
					<li><a ng-href="#springMVCHelloWorldXml" ng-click="buildBreadCrumbs('Spring MVC Hello World', '#springMVCHelloWorldXml')">Spring MVC Hello World</a></li>
					<li><a ng-href="#springMVCCustomConfigXml" ng-click="buildBreadCrumbs('Spring MVC using custom spring config file', '#springMVCCustomConfigXml')">Spring MVC using custom spring config file</a></li>
					<li><a ng-href="#springMVCMultiConfigXml" ng-click="buildBreadCrumbs('Spring MVC with multi config files', '#springMVCMultiConfigXml')">Spring MVC with multi config files</a></li>
					<li><a ng-href="#springMVCPropertiesFileXml" ng-click="buildBreadCrumbs('Spring MVC using properties file for labels', '#springMVCPropertiesFileXml')">Spring MVC using properties file for labels</a></li>
  					<a ng-href="#spring#2" ng-click="buildBreadCrumbs('Spring', '#spring')" class="btn btn-default btn-sm" role="button" style="border-radius: 25px;float: right;">SEE MORE</a>
				</ul>
			</div>
		</div>
	</div>
	
	<div class="col-sm-4">
		<div class="panel panel-primary">
			<div class="panel-heading">Spring REST</div>
			<div class="panel-body">
				<ul>
					<li><a ng-href="#springRestGet" ng-click="buildBreadCrumbs('Spring REST Get', '#springRestGet')">Spring REST GET</a></li>
					<li><a ng-href="#springRestPost" ng-click="buildBreadCrumbs('Spring REST Post', '#springRestPost')">Spring REST POST</a></li>
					<li><a ng-href="#springRestPostPolymorphism" ng-click="buildBreadCrumbs('Spring REST Post Polymorphism', '#springRestPostPolymorphism')">Spring REST POST Polymorphism</a></li>
					<li><a ng-href="#springRestPUT" ng-click="buildBreadCrumbs('Spring REST PUT', '#springRestPUT')">Spring REST PUT</a></li>
					<a ng-href="#spring#3" ng-click="buildBreadCrumbs('Spring', '#spring#3')" class="btn btn-default btn-sm" role="button" style="border-radius: 25px;float: right;">SEE MORE</a>
				</ul>
			</div>
		</div>
	</div>
	
	<div class="col-sm-4">
		<div class="panel panel-primary">
			<div class="panel-heading">Spring Boot</div>
			<div class="panel-body">
				<ul>
					<li><a ng-href="#springBootCli" ng-click="buildBreadCrumbs('Generate Spring Boot application with web dependency using Spring Boot Cli', '#springBootCli')">Creating Spring Boot application using Spring Boot CLI</a></li>
					<li><a ng-href="#springBootHelloWorld" ng-click="buildBreadCrumbs('Spring Boot Hello World', '#springBootHelloWorld')">Spring Boot Hello World</a></li>
					<li><a ng-href="#springBootJsonAndXml" ng-click="buildBreadCrumbs('Spring Boot supports both JSON and Xml', '#springBootJsonAndXml')">Spring Boot supports both JSON and Xml</a></li>
					<li><a ng-href="#springBootJetty" ng-click="buildBreadCrumbs('Spring Boot with Jetty Embedded server', '#springBootJetty')">Spring Boot with Jetty Embedded server</a></li>
					<a ng-href="#spring#4" ng-click="buildBreadCrumbs('Spring', '#spring#4')" class="btn btn-default btn-sm" role="button" style="border-radius: 25px;float: right;">SEE MORE</a>
				</ul>
			</div>
		</div>
	</div>
	
	<div class="col-sm-4">
		<div class="panel panel-primary">
			<div class="panel-heading">Spring JPA with Hibernate</div>
			<div class="panel-body">
				<ul>
					<li><a ng-href="#springMvcJpa" ng-click="buildBreadCrumbs('Spring MVC with JPA Hello world', '#springMvcJpa')">Spring MVC with JPA Hello world</a></li>
					<li>OneToMany mapping</li>
					<li>Lazy fetch in OneToMany mapping and handling LazyInitializationException using OpenEntityManagerInViewFilter</li>
					<li>Projections</li>
					<a ng-href="#spring#6" ng-click="buildBreadCrumbs('Spring', '#spring#6')" class="btn btn-default btn-sm" role="button" style="border-radius: 25px;float: right;">SEE MORE</a>
				</ul>
			</div>
		</div>
	</div>
	
	<div class="col-sm-4">
		<div class="panel panel-primary">
			<div class="panel-heading">Spring Integration</div>
			<div class="panel-body">
				<ul>
					<li>Spring Integration Hello World</li>
					<a ng-href="#spring#14" ng-click="buildBreadCrumbs('Spring', '#spring')" class="btn btn-default btn-sm" role="button" style="border-radius: 25px;float: right;">SEE MORE</a>
				</ul>
			</div>
		</div>
	</div>
	
	<div class="col-sm-4">
		<div class="panel panel-primary">
			<div class="panel-heading">Spring JDBC/DAO</div>
			<div class="panel-body">
				<ul>
					<li>Spring JDBC Hello World</li>
				</ul>
			</div>
		</div>
	</div>
	
	<div class="col-sm-4">
		<div class="panel panel-primary">
			<div class="panel-heading">Spring Batch</div>
			<div class="panel-body">
				<ul>
					<li><a ng-href="#springBatchHelloWorld" ng-click="buildBreadCrumbs('Spring Batch Hello World', '#springBatchHelloWorld')">Spring Batch Hello World</a></li>
					<a ng-href="#spring#13" ng-click="buildBreadCrumbs('Spring', '#spring#13')" class="btn btn-default btn-sm" role="button" style="border-radius: 25px;float: right;">SEE MORE</a>
				</ul>
			</div>
		</div>
	</div>
	
	<div class="col-sm-4">
		<div class="panel panel-primary">
			<div class="panel-heading">Spring JMS</div>
			<div class="panel-body">
				<ul>
					<li>Spring JMS + Weblogic Queue</li>
					<a ng-href="#spring#16" ng-click="buildBreadCrumbs('Spring', '#spring#16')" class="btn btn-default btn-sm" role="button" style="border-radius: 25px;float: right;">SEE MORE</a>
				</ul>
			</div>
		</div>
	</div>
	
	<div class="col-sm-4">
		<div class="panel panel-primary">
			<div class="panel-heading">Spring Data JPA</div>
			<div class="panel-body">
				<ul>
					<li><a ng-href="#springDataJpaPractice" ng-click="buildBreadCrumbs('Spring Data JPA Practice', '#springDataJpaPractice')">Spring Data JPA Practice</a></li>
					<a ng-href="#spring#8" ng-click="buildBreadCrumbs('Spring', '#spring#8')" class="btn btn-default btn-sm" role="button" style="border-radius: 25px;float: right;">SEE MORE</a>
				</ul>
			</div>
		</div>
	</div>
	
	<div class="col-sm-4">
		<div class="panel panel-primary">
			<div class="panel-heading">Spring Data Rest</div>
			<div class="panel-body">
				<ul>
					<li><a ng-href="#springDataRestHelloWorld" ng-click="buildBreadCrumbs('Spring Data Rest Hello World', '#springDataRestHelloWorld')">Spring Data Rest Hello World</a></li>
					<li>Spring Data Rest Security Practice</li>
					<a ng-href="#spring#9" ng-click="buildBreadCrumbs('Spring', '#spring#9')" class="btn btn-default btn-sm" role="button" style="border-radius: 25px;float: right;">SEE MORE</a>
				</ul>
			</div>
		</div>
	</div>
</div>
<hr />

<h4 class="text-center"><em>Build Tools</em></h4>
<div class="row">
	<div class="col-sm-4">
		<div class="panel panel-primary">
			<div class="panel-heading">Maven</div>
			<div class="panel-body">
				<ul>
					<li><a ng-href="#installMaven" ng-click="buildBreadCrumbs('Install Maven', '#installMaven')">Install Maven</a></li>
					<li><a ng-href="#repositoriesTag" ng-click="buildBreadCrumbs('repositories tag in pom.xml', '#repositoriesTag')">repositories tag in pom.xml</a></li>
					<li><a ng-href="#coreJavaProjectWithMaven" ng-click="buildBreadCrumbs('Create Core Java Project', '#coreJavaProjectWithMaven')">Createn Core Java Project using Maven</a></li>
					<li><a ng-href="#compilerPlugin" ng-click="buildBreadCrumbs('Compiler plugin', '#compilerPlugin')">Compiler Plugin</a></li>
					<a ng-href="#maven" ng-click="buildBreadCrumbs('Maven', '#maven')" class="btn btn-default btn-sm" role="button" style="border-radius: 25px;float: right;">SEE MORE</a>
				</ul>
			</div>
		</div>
	</div>

	<div class="col-sm-4">
		<div class="panel panel-primary">
			<div class="panel-heading">Ant (Another Neat Tool)</div>
			<div class="panel-body">
				<ul>
					<li><a ng-href="#antJacoco" ng-click="buildBreadCrumbs('Ant Jacoco', '#antJacoco')">Ant - Jacoco Integration</a></li>
					<a ng-href="#ant" ng-click="buildBreadCrumbs('Ant', '#ant')" class="btn btn-default btn-sm" role="button" style="border-radius: 25px;float: right;">SEE MORE</a>
				</ul>
			</div>
		</div>
	</div>

	<div class="col-sm-4">
		<div class="panel panel-primary">
			<div class="panel-heading">Gradle</div>
			<div class="panel-body">
				<ul>
					<li><a ng-href="#gradleInstallation" ng-click="buildBreadCrumbs('Gradle Installation', '#gradleInstallation')">Gradle Installation</a></li>
					<li><a ng-href="#springBootHelloWorldGradle" ng-click="buildBreadCrumbs('Spring Boot Hello World With Gradle', '#springBootHelloWorldGradle')">Spring Boot Hello World With Gradle</a></li>
					<a ng-href="#gradle" ng-click="buildBreadCrumbs('Gradle', '#gradle')" class="btn btn-default btn-sm" role="button" style="border-radius: 25px;float: right;">SEE MORE</a>
				</ul>
			</div>
		</div>
	</div>
</div>
<hr />

<h4 class="text-center"><em>REST Web Services</em></h4>
<div class="row">
	<div class="col-sm-4">
		<div class="panel panel-primary">
			<div class="panel-heading">Jersey Implementation</div>
			<div class="panel-body">
				<ul>
					<li><a ng-href="#jerseyRestGet" ng-click="buildBreadCrumbs('GET requests in Jersey Implementation', '#jerseyRestGet')">GET requests</a></li>
					<li><a ng-href="#jerseyRestPost" ng-click="buildBreadCrumbs('POST requests in Jersey Implementation', '#jerseyRestPost')">POST requests</a></li>
					<li><a ng-href="#jerseyRestPut" ng-click="buildBreadCrumbs('PUT requests in Jersey Implementation', '#jerseyRestPut')">PUT requests</a></li>
					<li><a ng-href="#jerseyRestDelete" ng-click="buildBreadCrumbs('DELETE requests in Jersey Implementation', '#jerseyRestDelete')">DELETE requests</a></li>
					<a ng-href="#webservices" ng-click="buildBreadCrumbs('Webservices', '#webservices')" class="btn btn-default btn-sm" role="button" style="border-radius: 25px;float: right;">SEE MORE</a>
				</ul>
			</div>
		</div>
	</div>

	<div class="col-sm-4">
		<div class="panel panel-primary">
			<div class="panel-heading">Spring Implementation</div>
			<div class="panel-body">
				<ul>
					<li><a ng-href="#springRestGet" ng-click="buildBreadCrumbs('Spring REST Get', '#springRestGet')">Spring REST GET</a></li>
					<li><a ng-href="#springRestPost" ng-click="buildBreadCrumbs('Spring REST Post', '#springRestPost')">Spring REST POST</a></li>
					<li><a ng-href="#springRestPostPolymorphism" ng-click="buildBreadCrumbs('Spring REST Post Polymorphism', '#springRestPostPolymorphism')">Spring REST POST Polymorphism</a></li>
					<li><a ng-href="#springRestPUT" ng-click="buildBreadCrumbs('Spring REST PUT', '#springRestPUT')">Spring REST PUT</a></li>
					<a ng-href="#webservices" ng-click="buildBreadCrumbs('Webservices', '#webservices')" class="btn btn-default btn-sm" role="button" style="border-radius: 25px;float: right;">SEE MORE</a>
				</ul>
			</div>
		</div>
	</div>
	
	<div class="col-sm-4">
		<div class="panel panel-primary">
			<div class="panel-heading">Apache CXF Implementation</div>
			<div class="panel-body">
				<ul>
					<li>Get</li>
					<li>Post</li>
					<li>PUT</li>
					<li>DELETE</li>
					<a ng-href="#webservices" ng-click="buildBreadCrumbs('Webservices', '#webservices')" class="btn btn-default btn-sm" role="button" style="border-radius: 25px;float: right;">SEE MORE</a>
				</ul>
			</div>
		</div>
	</div>

	<div class="col-sm-4">
		<div class="panel panel-primary">
			<div class="panel-heading">Dropwizard implementation</div>
			<div class="panel-body">
				<ul>
					<li>GET</li>
					<li>POST</li>
					<li>PUT</li>
					<li>DELETE</li>
					<a ng-href="#webservices" ng-click="buildBreadCrumbs('Webservices', '#webservices')" class="btn btn-default btn-sm" role="button" style="border-radius: 25px;float: right;">SEE MORE</a>
				</ul>
			</div>
		</div>
	</div>
	
	<div class="col-sm-4">
		<div class="panel panel-primary">
			<div class="panel-heading">Apache Camel implementation</div>
			<div class="panel-body">
				<ul>
					<li>GET</li>
					<li>POST</li>
					<li>PUT</li>
					<li>DELETE</li>
					<a ng-href="#webservices" ng-click="buildBreadCrumbs('Webservices', '#webservices')" class="btn btn-default btn-sm" role="button" style="border-radius: 25px;float: right;">SEE MORE</a>
				</ul>
			</div>
		</div>
	</div>
	
	<div class="col-sm-4">
		<div class="panel panel-primary">
			<div class="panel-heading">Mule implementation</div>
			<div class="panel-body">
				<ul>
					<ul>
					<li>GET</li>
					<li>POST</li>
					<li>PUT</li>
					<li>DELETE</li>
					<a ng-href="#webservices" ng-click="buildBreadCrumbs('Webservices', '#webservices')" class="btn btn-default btn-sm" role="button" style="border-radius: 25px;float: right;">SEE MORE</a>
				</ul>
				</ul>
			</div>
		</div>
	</div>

	<div class="col-sm-4">
		<div class="panel panel-primary">
			<div class="panel-heading">RESTful Clients</div>
			<div class="panel-body">
				<ul>
					<li>java.net.URL</li>
					<li>Apache HTTP Client</li>
					<li>RestEasy</li>
					<li>Jersey</li>
					<a ng-href="#webservices" ng-click="buildBreadCrumbs('Webservices', '#webservices')" class="btn btn-default btn-sm" role="button" style="border-radius: 25px;float: right;">SEE MORE</a>
				</ul>
			</div>
		</div>
	</div>
</div>
<hr />

<h4 class="text-center"><em>SQL</em></h4>
<div class="row">
	<div class="col-sm-4">
		<div class="panel panel-primary">
			<div class="panel-heading">General Tables for Practice</div>
			<div class="panel-body">
				<ul>
					<li><a ng-href="#practiceDBScripts"  ng-click="buildBreadCrumbs('DB Scripts to create practice DB', '#practiceDBScripts')">DB Scripts to create practice DB</a></li>
				</ul>
			</div>
		</div>
	</div>

	<div class="col-sm-4">
		<div class="panel panel-primary">
			<div class="panel-heading">H2</div>
			<div class="panel-body">
				<ul>
					<li><a ng-href="#practiceDBScripts"  ng-click="buildBreadCrumbs('DB Scripts to create practice DB', '#practiceDBScripts')">DB Scripts to create practice DB</a></li>
					<li><a ng-href="#h2DB">H2</a></li>
					<li><a ng-href="#dbJoins" ng-click="buildBreadCrumbs('SQL Joins', '#dbJoins')">Joins</a></li>
				</ul>
			</div>
		</div>
	</div>

	<div class="col-sm-4">
		<div class="panel panel-primary">
			<div class="panel-heading">Oracle</div>
			<div class="panel-body">
				<ul>
					<li><a ng-href="#practiceDBScripts"  ng-click="buildBreadCrumbs('DB Scripts to create practice DB', '#practiceDBScripts')">DB Scripts to create practice DB</a></li>
					<li><a ng-href="#dbJoins" ng-click="buildBreadCrumbs('SQL Joins', '#dbJoins')">Joins</a></li>
					<li><a ng-href="#oracleSql" ng-click="buildBreadCrumbs('SQL Queries', '#oracleSql')">SQL Queries/DML</a></li>
					<li><a ng-href="#oracleDdl" ng-click="buildBreadCrumbs('Oracle DDL', '#oracleDdl')">Oracle DDL</a></li>
					<a ng-href="#oracle" ng-click="buildBreadCrumbs('Oracle', '#oracle')" class="btn btn-default btn-sm" role="button" style="border-radius: 25px;float: right;">SEE MORE</a>
				</ul>
			</div>
		</div>
	</div>

	<div class="col-sm-4">
		<div class="panel panel-primary">
			<div class="panel-heading">SQL Server</div>
			<div class="panel-body">
				<ul>
					<li><a ng-href="#practiceDBScripts"  ng-click="buildBreadCrumbs('DB Scripts to create practice DB', '#practiceDBScripts')">DB Scripts to create practice DB</a></li>
					<li><a ng-href="#dbJoins" ng-click="buildBreadCrumbs('SQL Joins', '#dbJoins')">Joins</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
<hr />

<h4 class="text-center"><em>No SQL DB</em></h4>
<div class="row">
	<div class="col-sm-4">
		<div class="panel panel-primary">
			<div class="panel-heading">MongoDB</div>
			<div class="panel-body">
				<ul>
					<li>MongoDB Installation in Windows</li>
					<li>MongoDB with Java</li>
					<li>Spring Data MongoDB</li>
					<a ng-href="#mongoDB" ng-click="buildBreadCrumbs('MongoDB', '#mongoDB')" class="btn btn-default btn-sm" role="button" style="border-radius: 25px;float: right;">SEE MORE</a>
				</ul>
			</div>
		</div>
	</div>
</div>
<hr />

<h4 class="text-center"><em>Java Virtual Machine (JVM)</em></h4>
<div class="row">
	<div class="col-sm-4">
		<div class="panel panel-primary">
			<div class="panel-heading">Java Virtual Machine</div>
			<div class="panel-body">
				<ul>
					<li>Inside Java Virtual Machine</li>
					<li>Java Application Performance Tuning</li>
					<a ng-href="#jvm" ng-click="buildBreadCrumbs('JVM', '#jvm')" class="btn btn-default btn-sm" role="button" style="border-radius: 25px;float: right;">SEE MORE</a>

				</ul>
			</div>
		</div>
	</div>

	<div class="col-sm-4">
		<div class="panel panel-primary">
			<div class="panel-heading">JDK Tools</div>
			<div class="panel-body">
				<ul>
					<li><a ng-href="#native2ascii" ng-click="buildBreadCrumbs('Convert characters to Unicode', '#native2ascii')">native2ascii</a></li>
					<li>jps</li>
					<li>javap</li>
					<a ng-href="#jdkTools" ng-click="buildBreadCrumbs('JDK Tools', '#jdkTools')" class="btn btn-default btn-sm" role="button" style="border-radius: 25px;float: right;">SEE MORE</a>

				</ul>
			</div>
		</div>
	</div>

	<div class="col-sm-4">
		<div class="panel panel-primary">
			<div class="panel-heading">Java Garbage Collection</div>
			<div class="panel-body">
				<ul>
					<li>Garbage Collection by Plumbr</li>
					<li>How to monitor Java Garbage Collection</li>
					<li>Java application performance tuning</li>
					<a ng-href="#gc" ng-click="buildBreadCrumbs('Garbage Collection', '#gc')" class="btn btn-default btn-sm" role="button" style="border-radius: 25px;float: right;">SEE MORE</a>
				</ul>
			</div>
		</div>
	</div>
</div>
<hr />

<h4 class="text-center"><em>ORM</em></h4>
<div class="row">
	<!-- JPA -->
	<div class="col-sm-4">
		<div class="panel panel-primary">
			<div class="panel-heading">JPA 2.1</div>
			<div class="panel-body">
				<ul>
					<li>JPA Hello World</li>
					<a ng-href="#jpa" ng-click="buildBreadCrumbs('JPA', '#jpa')" class="btn btn-default btn-sm" role="button" style="border-radius: 25px;float: right;">SEE MORE</a>
				</ul>
			</div>
		</div>
	</div>
	
	<!-- Eclipselink -->
	<div class="col-sm-4">
		<div class="panel panel-primary">
			<div class="panel-heading">Eclipselink</div>
			<div class="panel-body">
				<ul>
					<li><a ng-href="#eclipselinkGenerateMetaModel" ng-click="buildBreadCrumbs('Generate Meta Model', '#eclipselinkGenerateMetaModel')">Generate Meta Model</a></li>
					<li>Eclipselink Hello World</li>
					<li>JPQL</li>
					<li>Criteria</li>
					<a ng-href="#eclipselink" ng-click="buildBreadCrumbs('EclipseLink', '#eclipselink')" class="btn btn-default btn-sm" role="button" style="border-radius: 25px;float: right;">SEE MORE</a>
				</ul>
			</div>
		</div>
	</div>
	
	<!-- Hibernate 4 -->
	<div class="col-sm-4">
		<div class="panel panel-primary">
			<div class="panel-heading">Hibernate</div>
			<div class="panel-body">
				<ul>
					<li><a ng-href="#hibernate" ng-click="buildBreadCrumbs('Hibernate', '#hibernate')">Hibernate Examples</a></li>
				</ul>
			</div>
		</div>
	</div>
	
	<!-- MyBatis -->
	<div class="col-sm-4">
		<div class="panel panel-primary">
			<div class="panel-heading">MyBatis</div>
			<div class="panel-body">
				<ul>
					<li><a ng-href="#myBatisCrud" ng-click="buildBreadCrumbs('MyBatis Crud', '#myBatisCrud')">MyBatis Crud</a></li>
					<a ng-href="#myBatis" ng-click="buildBreadCrumbs('MyBatis', '#myBatis')" class="btn btn-default btn-sm" role="button" style="border-radius: 25px;float: right;">SEE MORE</a>
				</ul>
			</div>
		</div>
	</div>
	
</div>	
<hr />

<h4 class="text-center"><em>Unit Testing</em></h4>
<div class="row">
	<div class="col-sm-4">
		<div class="panel panel-primary">
			<div class="panel-heading">Unit Testing</div>
			<div class="panel-body">
				<ul>
					<li><a ng-href="#junit" ng-click="buildBreadCrumbs('Junit', '#junit')">JUnit</a></li>
					<li><a ng-href="#easymock" ng-click="buildBreadCrumbs('Easymock', '#easymock')">Easymock</a></li>
					<li><a ng-href="#mockito" ng-click="buildBreadCrumbs('Mockito', '#mockito')">Mockito</a></li>
					<li>PowerMock</li>
					<a ng-href="#unitTesting" ng-click="buildBreadCrumbs('Unit Testing', '#unitTesting')" class="btn btn-default btn-sm" role="button" style="border-radius: 25px;float: right;">SEE MORE</a>
				</ul>
			</div>
		</div>
	</div>
	
	<div class="col-sm-4">
		<div class="panel panel-primary">
			<div class="panel-heading">Spock</div>
			<div class="panel-body">
				<ul>
					<li><a ng-href="#spock#1" ng-click="buildBreadCrumbs('Spock', '#spock#1')">Materials</a></li>
					<a ng-href="#spock" ng-click="buildBreadCrumbs('Spock', '#spock')" class="btn btn-default btn-sm" role="button" style="border-radius: 25px;float: right;">SEE MORE</a>
				</ul>
			</div>
		</div>
	</div>
</div>
<hr />

<h4 class="text-center"><em>Design Patterns</em></h4>
<div class="row">
	<div class="col-sm-4">
		<div class="panel panel-primary">
			<div class="panel-heading">Creational Design Patterns - FABSP</div>
			<div class="panel-body">
				<ul>
					<li>Factory Pattern</li>
					<li>Abstract Factory Pattern</li>
					<li>Builder Pattern</li>
					<li><a ng-href="#singletonObject" ng-click="buildBreadCrumbs('Creating Singleton Object', '#singletonObject')">Singleton Pattern</a></li>
					<li>Prototype Pattern</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="col-sm-4">
		<div class="panel panel-primary">
			<div class="panel-heading">Structural Design Patterns - ABCDF3P</div>
			<div class="panel-body">
				<ul>
					<li>Adapter Pattern</li>
					<li>Bridge Pattern</li>
					<li>Composite Pattern</li>
					<li>Decorator Pattern</li>
					<li>Filter or Criteria Pattern</li>
					<li>Facade Pattern</li>
					<li>Fly weight Pattern</li>
					<li>Proxy Pattern</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="col-sm-4">
		<div class="panel panel-primary">
			<div class="panel-heading">Behavioral Design Patterns - C2I2M2NOS2TV</div>
			<div class="panel-body">
				<ul>
					<li>Chain of Responsibility Pattern</li>
					<li>Command Pattern</li>
					<li>Iterator Pattern</li>
					<li>Interpreter Pattern</li>
					<li>Memento Pattern</li>
					<li>Mediator Pattern</li>
					<li>Null check Pattern</li>
					<li>Observer Pattern</li>
					<li>State Pattern</li>
					<li>Strategy Pattern</li>
					<li>Template Pattern</li>
					<li>Visitor Pattern</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<hr />

<h4 class="text-center"><a ng-href="#tools" ng-click="buildBreadCrumbs('Tools', '#tools')"><em>CSV Tools</em></a></h4>
<div class="row">
	<div class="col-sm-4">
		<div class="panel panel-primary">
			<div class="panel-heading">CSV</div>
			<div class="panel-body">
				<ul>
					<li><a ng-href="#openCSV" ng-click="buildBreadCrumbs('Open CSV', '#openCSV')">Open CSV</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
<hr />

<h4 class="text-center"><a ng-href="#tools" ng-click="buildBreadCrumbs('Tools', '#tools')"><em>JSON Tools</em></a></h4>
<div class="row">
	<div class="col-sm-4">
		<div class="panel panel-primary">
			<div class="panel-heading">Jackson Json</div>
			<div class="panel-body">
				<ul>
					<li><a ng-href="#jacksonReadJson" ng-click="buildBreadCrumbs('Read JSON using Jackson', '#jacksonReadJson')">Read JSON</a></li>
					<li>Write Json</li>
				</ul>
			</div>
		</div>
	</div>
	
	<div class="col-sm-4">
		<div class="panel panel-primary">
			<div class="panel-heading">GSON</div>
			<div class="panel-body">
				<ul>
					<li>Read Json</li>
					<li>Write Json</li>
				</ul>
			</div>
		</div>
	</div>
	
	<div class="col-sm-4">
		<div class="panel panel-primary">
			<div class="panel-heading">Boon JSON</div>
			<div class="panel-body">
				<ul>
					<li>Read Json</li>
					<li>Write Json</li>
				</ul>
			</div>
		</div>
	</div>
	
	<div class="col-sm-4">
		<div class="panel panel-primary">
			<div class="panel-heading">Simple JSON</div>
			<div class="panel-body">
				<ul>
					<li>Read Json</li>
					<li>Write Json</li>
				</ul>
			</div>
		</div>
	</div>
	
	<div class="col-sm-4">
		<div class="panel panel-primary">
			<div class="panel-heading">json.org</div>
			<div class="panel-body">
				<ul>
					<li>Read Json</li>
					<li>Write Json</li>
				</ul>
			</div>
		</div>
	</div>
	
	<div class="col-sm-4">
		<div class="panel panel-primary">
			<div class="panel-heading">JSONP</div>
			<div class="panel-body">
				<ul>
					<li>Read Json</li>
					<li>Write Json</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<hr />

<h4 class="text-center"><a ng-href="#tools" ng-click="buildBreadCrumbs('Tools', '#tools')"><em>Beans Tools</em></a></h4>
<div class="row">
	<div class="col-sm-4">
		<div class="panel panel-primary">
			<div class="panel-heading">Dozer</div>
			<div class="panel-body">
				<ul>
					<li><a ng-href="http://dozer.sourceforge.net" target="_blank">Dozer</a></li>
				</ul>
			</div>
		</div>
	</div>
	
	<div class="col-sm-4">
		<div class="panel panel-primary">
		<div class="panel-heading">Lombok</div>
			<div class="panel-body">
				<ul>
					<li>Materials
					<ul>
						<li><a ng-href="http://www.vogella.com/tutorials/Lombok/article.html" target="_blank">Basics</a></li>
						<li><a ng-href="https://projectlombok.org/" target="_blank">Demo</a></li>
						<li><a ng-href="https://github.com/peichhorn/lombok-pg" target="_blank">Lombok Extensions</a></li>
					</ul>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<hr />

<h4 class="text-center"><a ng-href="#tools" ng-click="buildBreadCrumbs('Tools', '#tools')"><em>Source Code Analysis Tools</em></a></h4>
<div class="row">
<div class="col-sm-4">
		<div class="panel panel-primary">
			<div class="panel-heading">Sonarqube</div>
			<div class="panel-body">
				<ul>
					<li><a ng-href="#sonarSetup" ng-click="buildBreadCrumbs('Setup Sonarqube to run with Sonar Scanner', '#sonarSetup')">Setup Sonarqube to run with Sonar Scanner</a></li>
					<li><a ng-href="#sonarqubeCodeCoverage" ng-click="buildBreadCrumbs('Code Coverage report in Sonarqube with Jacoco', '#sonarqubeCodeCoverage')">Code Coverage report in Sonarqube with Jacoco</a></li>
				</ul>
			</div>
		</div>
	</div>
	
	<div class="col-sm-4">
		<div class="panel panel-primary">
			<div class="panel-heading">Sonar Lint</div>
			<div class="panel-body">
				<ul>
					<li>Sonar Lint setup in local</li>
				</ul>
			</div>
		</div>
	</div>
	
	<div class="col-sm-4">
		<div class="panel panel-primary">
			<div class="panel-heading">PMD</div>
			<div class="panel-body">
				<ul>
					<li>PMD setup in local</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<hr />

<h4 class="text-center"><em><a ng-href="#tools" ng-click="buildBreadCrumbs('Tools', '#tools')">Code Coverage Tools</a></em></h4>
<div class="row">
	<div class="col-sm-4">
		<div class="panel panel-primary">
			<div class="panel-heading">EclEmma</div>
			<div class="panel-body">
				<ul>
					<li>EclEmma setup in local</li>
				</ul>
			</div>
		</div>
	</div>
	
	<div class="col-sm-4">
		<div class="panel panel-primary">
			<div class="panel-heading">Jacoco</div>
			<div class="panel-body">
				<ul>
					<li><a ng-href="#mavenJacoco" ng-click="buildBreadCrumbs('Maven Jacoco Integration', '#mavenJacoco')">Maven Jacoco Integration</a></li>
					<li><a ng-href="#sonarqubeCodeCoverage" ng-click="buildBreadCrumbs('Code Coverage report in Sonarqube with Jacoco', '#sonarqubeCodeCoverage')">Jacoco + Maven + Sonarqube</a></li>
				</ul>
			</div>
		</div>
	</div>
	
	
	
	<div class="col-sm-4">
		<div class="panel panel-primary">
			<div class="panel-heading">Cobertura</div>
			<div class="panel-body">
				<ul>
					<li>Cobertura setup in local</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<hr />

<h4 class="text-center"><em><a ng-href="#tools" ng-click="buildBreadCrumbs('Tools', '#tools')">SCM (Source Code Management) Tools</a></em></h4>
<div class="row">
	<div class="col-sm-4">
		<div class="panel panel-primary">
			<div class="panel-heading">Github</div>
			<div class="panel-body">
			<ul>
				<li><em>Materials</em>
				<ul>
					<li><a ng-href="https://try.github.io/levels/1/challenges/1" target="_blank">Github Tutorial</a></li>
					<li><a ng-href="https://www.atlassian.com/git/tutorials/learn-git-with-bitbucket-cloud" target="_blank">Atlassian Tutorial</a></li>
				</ul>
			</li>
			</ul>	
			</div>
		</div>
	</div>
	
	<div class="col-sm-4">
		<div class="panel panel-primary">
			<div class="panel-heading">Bitbucket</div>
			<div class="panel-body">
			<ul>
				<li>Create new repository and push code to new repository</li>
			</ul>	
			</div>
		</div>
	</div>
</div>
<hr />

<h4 class="text-center"><em><a ng-href="#tools" ng-click="buildBreadCrumbs('Tools', '#tools')">PDF Tools</a></em></h4>
<div class="row">
		<div class="col-sm-4">
		<div class="panel panel-primary">
			<div class="panel-heading">PDF Generation</div>
			<div class="panel-body">
				<ul>
					<li>Generate PDF</li>
					<li><em>Materials: </em>
						<ul>
							<li><a ng-href="http://tutorials.jenkov.com/java-itext/index.html" target="_blank">Jenkov</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<hr />

<h4 class="text-center"><em>Enterprise Integration Patterns (EIP)</em></h4>
<div class="row">
	<div class="col-sm-4">
		<div class="panel panel-primary">
			<div class="panel-heading">Camel</div>
			<div class="panel-body">
				<ul>
					<li><a ng-href="#camelHelloWorld" ng-click="buildBreadCrumbs('Camel Hello World', '#camelMarshalCsv')">Apache Camel Hello World</a></li>
					<li><a ng-href="#camelWithBean" ng-click="buildBreadCrumbs('Using Bean in Router', '#camelWithBean')">Apache Camel With Bean</a></li>
					<li><a ng-href="#camelWithBeanAndProcessor" ng-click="buildBreadCrumbs('Camel with Bean and Processor ', '#camelWithBeanAndProcessor')">Apache Camel With Bean and Processor</a></li>
					<li><a ng-href="#camelWithSpring" ng-click="buildBreadCrumbs('Camel with Spring', '#camelWithSpring')">Apache Camel With Spring</a></li>
					<a ng-href="#camel" ng-click="buildBreadCrumbs('Camel', '#camel')" class="btn btn-default btn-sm" role="button" style="border-radius: 25px;float: right;">SEE MORE</a>
				</ul>
			</div>
		</div>
	</div>

	<div class="col-sm-4">
		<div class="panel panel-primary">
			<div class="panel-heading">Mule</div>
			<div class="panel-body">
				<ul>
					<li>Mule Hello World</li>
					<li>Expose REST with Mule</li>
					<li>Consume REST API </li>
					<li>Mule REST API + OAuth in memory DB</li>
					<a ng-href="#mule" ng-click="buildBreadCrumbs('Mule', '#mule')" class="btn btn-default btn-sm" role="button" style="border-radius: 25px;float: right;">SEE MORE</a>
				</ul>
			</div>
		</div>
	</div>
	
	<div class="col-sm-4">
		<div class="panel panel-primary">
			<div class="panel-heading">Spring Integration</div>
			<div class="panel-body">
				<ul>
					<li>Spring Integration Hello World</li>
					<a ng-href="#spring#14" ng-click="buildBreadCrumbs('Spring', '#spring')" class="btn btn-default btn-sm" role="button" style="border-radius: 25px;float: right;">SEE MORE</a>
				</ul>
			</div>
		</div>
	</div>
</div>
<hr/>

<h4 class="text-center"><em>UI</em></h4>
<div class="row">
	<div class="col-sm-4">
		<div class="panel panel-primary">
			<div class="panel-heading">Angular JS 1</div>
			<div class="panel-body">
				<ul>
					<li><a ng-href="#angular1HelloWorld" ng-click="buildBreadCrumbs('Angular 1 Hello World', '#angular1HelloWorld')">Hello World</a></li>
					<li><a ng-href="#printMessage" ng-click="buildBreadCrumbs('Angular JS 1 print message in html by setting scope variable', '#printMessage')">print message in html by setting scope variable</a></li>
					<li><a ng-href="#printMessageWithIIFY" ng-click="buildBreadCrumbs('Using Angular JS with IIFY', '#printMessageWithIIFY')">Using Angular JS with IIFY</a></li>
					<li><a ng-href="#controller1" ng-click="buildBreadCrumbs('Angular Controller', '#controller1')">Angular Controller Hello World</a></li>
					<a ng-href="#angular1" ng-click="buildBreadCrumbs('Angular 1', '#angular1')" class="btn btn-default btn-sm" role="button" style="border-radius: 25px;float: right;">SEE MORE</a>
				</ul>
			</div>
		</div>
	</div>
	
	<div class="col-sm-4">
		<div class="panel panel-primary">
			<div class="panel-heading">React JS</div>
			<div class="panel-body">
				<ul>
					<li><a ng-href="#reactHelloWorld" ng-click="buildBreadCrumbs('React JS Hello World', '#reactHelloWorld')">React JS Hello World</a></li>
					<li><a ng-href="#reactComponents" ng-click="buildBreadCrumbs('React JS Components', '#reactComponents')">React JS Components</a></li>
					<li><a ng-href="#reactState" ng-click="buildBreadCrumbs('React JS State', '#reactState')">React JS State</a></li>
					<li><a ng-href="#reactIncrementButton" ng-click="buildBreadCrumbs('Display Button that increment the counter', '#reactIncrementButton')">Display Button that increment the counter</a></li>
					<a ng-href="#react" ng-click="buildBreadCrumbs('React JS', '#react')" class="btn btn-default btn-sm" role="button" style="border-radius: 25px;float: right;">SEE MORE</a>
				</ul>
			</div>
		</div>
	</div>
	
	<div class="col-sm-4">
		<div class="panel panel-primary">
			<div class="panel-heading">Typescript</div>
			<div class="panel-body">
				<ul>
					<li><a ng-href="#typescript" ng-click="buildBreadCrumbs('Typescript', '#typescript')">Typescript</a></li>
					<a ng-href="#typescript" ng-click="buildBreadCrumbs('Typescript', '#typescript')" class="btn btn-default btn-sm" role="button" style="border-radius: 25px;float: right;">SEE MORE</a>
				</ul>
			</div>
		</div>
	</div>
	
	<div class="col-sm-4">
		<div class="panel panel-primary">
			<div class="panel-heading">Angular (2/4)</div>
			<div class="panel-body">
				<ul>
					<li>Angular4HelloWorld</li>
					<li>HelloWorldComponent</li>
					<li>NestedComponents</li>
					<a ng-href="#angular" ng-click="buildBreadCrumbs('Angular', '#angular')" class="btn btn-default btn-sm" role="button" style="border-radius: 25px;float: right;">SEE MORE</a>
				</ul>
			</div>
		</div>
	</div>
</div>
<hr />

<h4 class="text-center"><em>Dashboards</em></h4>
<div class="row">
	<div class="col-sm-4">
		<div class="panel panel-primary">
			<div class="panel-heading">Hygieia</div>
			<div class="panel-body">
				<ul>
					<li><a ng-href="https://github.com/capitalone/Hygieia" target="_blank">Hygieia Github</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
<hr />

<h4 class="text-center"><em>JMS</em></h4>
<div class="row">
	<div class="col-sm-4">
		<div class="panel panel-primary">
			<div class="panel-heading">Active Mq</div>
			<div class="panel-body">
				<ul>
					<li><a ng-href="#coreJavaActiveMqQueue" ng-click="buildBreadCrumbs('Core Java + Queue', '#coreJavaActiveMqQueue')">Core Java + Queue</a></li>
					<li><a ng-href="#coreJavaActiveMqTopic" ng-click="buildBreadCrumbs('Core Java + Topic', '#coreJavaActiveMqTopic')">Core Java + Topic</a></li>
					<li><a ng-href="#coreJavaPublishSubscribe" ng-click="buildBreadCrumbs('Core Java + Publish Subscribe', '#coreJavaPublishSubscribe')">Core Java + Publish Subscribe</a></li>
					<li><a ng-href="#coreJavaPublishSubscribeOneConsumerMultiProducers" ng-click="buildBreadCrumbs('Core Java + Publish Subscribe + One Consumer + Multiple Producers', '#coreJavaPublishSubscribeOneConsumerMultiProducers')">Core Java + Publish Subscribe + One Consumer + Multiple Producers</a></li>
					<a ng-href="#activemq" ng-click="buildBreadCrumbs('Active MQ', '#activemq')" class="btn btn-default btn-sm" role="button" style="border-radius: 25px;float: right;">SEE MORE</a>
				</ul>
			</div>
		</div>
	</div>
	
	<div class="col-sm-4">
		<div class="panel panel-primary">
			<div class="panel-heading">IBM MQ</div>
			<div class="panel-body">
				<ul>
					<li><a ng-href="#ibmMqInstallation" ng-click="buildBreadCrumbs('IBM MQ Installation', '#ibmMqInstallation')">IBM MQ Installation</a></li>
					<li><a ng-href="#ibmMqSendRecieveTextMessage" ng-click="buildBreadCrumbs('Send Recieve Text Message', '#ibmMqSendRecieveTextMessage')">Send Recieve Text Message</a></li>
					<li><a ng-href="#ibmMqSendAndReceiveByListener" ng-click="buildBreadCrumbs('Send and Recieve By Listener', '#ibmMqSendAndReceiveByListener')">SendAndReceiveByListener</a></li>
					<li><a ng-href="#ibmMqKeepListenerUpAndRunningByMain" ng-click="buildBreadCrumbs('Keep listener up and running by main', '#ibmMqKeepListenerUpAndRunningByMain')">KeepListenerUpAndRunningByMain</a></li>
					<a ng-href="#ibmmq" ng-click="buildBreadCrumbs('IBM MQ', '#ibmmq')" class="btn btn-default btn-sm" role="button" style="border-radius: 25px;float: right;">SEE MORE</a>
				</ul>
			</div>
		</div>
	</div>
	
	<div class="col-sm-4">
		<div class="panel panel-primary">
			<div class="panel-heading">Kafka</div>
			<div class="panel-body">
				<ul>
					<li><a ng-href="#kafkaSetupInWindows10" ng-click="buildBreadCrumbs('Kafka Setup in Windows10', '#kafkaSetupInWindows10')">Kafka Setup in Windows 10</a></li>
					<a ng-href="#kafka" ng-click="buildBreadCrumbs('Kafka', '#kafka')" class="btn btn-default btn-sm" role="button" style="border-radius: 25px;float: right;">SEE MORE</a>
				</ul>
			</div>
		</div>
	</div>
	
	<div class="col-sm-4">
		<div class="panel panel-primary">
			<div class="panel-heading">Weblogic Queue</div>
			<div class="panel-body">
				<ul>
					<li><a ng-href="#createWeblogicQueue" ng-click="buildBreadCrumbs('Create Weblogic Queue', '#createWeblogicQueue')">Create Weblogic Queue</a></li>
					<li><a ng-href="#weblogicQSendReceiveMessage" ng-click="buildBreadCrumbs('Send Receive Message to Weblogic Queue', '#weblogicQSendReceiveMessage')">Send Receive Message to Weblogic Queue</a></li>
					<li><a ng-href="#weblogicQMessageListener" ng-click="buildBreadCrumbs('Weblogic queue + Message Listener', '#weblogicQMessageListener')">Weblogic queue + Message Listener</a></li>
					<a ng-href="#weblogicQueue" ng-click="buildBreadCrumbs('Weblogic Queue', '#weblogicQueue')" class="btn btn-default btn-sm" role="button" style="border-radius: 25px;float: right;">SEE MORE</a>
				</ul>
			</div>
		</div>
	</div>
	
	<div class="col-sm-4">
		<div class="panel panel-primary">
			<div class="panel-heading">Rabbit MQ</div>
			<div class="panel-body">
				<ul>
					<li>Rabbit MQ Setup in Windows 10</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
<hr />

<h4 class="text-center"><em>Authentication and Authorization</em></h4>
<div class="row">
	<div class="col-sm-4">
		<div class="panel panel-primary">
			<div class="panel-heading">JWT</div>
			<div class="panel-body">
				<ul>
					<li><a ng-href="#jwt" ng-click="buildBreadCrumbs('JWT', '#jwt')">JWT</a></li>
					<a ng-href="#jwt" ng-click="buildBreadCrumbs('JWT', '#jwt')" class="btn btn-default btn-sm" role="button" style="border-radius: 25px;float: right;">SEE MORE</a>
				</ul>
			</div>
		</div>
	</div>
	
	<div class="col-sm-4">
		<div class="panel panel-primary">
			<div class="panel-heading">OAuth2</div>
			<div class="panel-body">
				<ul>
					<li>OAuth2</li>
					<a ng-href="#oauth2" ng-click="buildBreadCrumbs('OAuth2', '#oauth2')" class="btn btn-default btn-sm" role="button" style="border-radius: 25px;float: right;">SEE MORE</a>
				</ul>
			</div>
		</div>
	</div>
	
	<div class="col-sm-4">
		<div class="panel panel-primary">
			<div class="panel-heading">Open ID Connect</div>
			<div class="panel-body">
				<ul>
					<li>Open ID Connect</li>
					<a ng-href="#openIdConnect" ng-click="buildBreadCrumbs('Open ID Connect', '#openIdConnect')" class="btn btn-default btn-sm" role="button" style="border-radius: 25px;float: right;">SEE MORE</a>
				</ul>
			</div>
		</div>
	</div>
</div>
<hr />

<h4 class="text-center"><em>Hadoop</em></h4>
<div class="row">
	<div class="col-sm-4">
		<div class="panel panel-primary">
			<div class="panel-heading"></div>
			<div class="panel-body">
				<ul>
					<li>Hadoop Installation</li>
					<a ng-href="#hadoop" ng-click="buildBreadCrumbs('Hadoop', '#hadoop')" class="btn btn-default btn-sm" role="button" style="border-radius: 25px;float: right;">SEE MORE</a>
				</ul>
			</div>
		</div>
	</div>
</div>
<hr />

<h4 class="text-center"><em>BlockChain</em></h4>
<div class="row">
	<div class="col-sm-4">
		<div class="panel panel-primary">
			<div class="panel-heading"></div>
			<div class="panel-body">
				<ul>
					<li>Blockchain</li>
					<a ng-href="#blockchain" ng-click="buildBreadCrumbs('Blockchain', '#blockchain')" class="btn btn-default btn-sm" role="button" style="border-radius: 25px;float: right;">SEE MORE</a>
				</ul>
			</div>
		</div>
	</div>
</div>

<!-- Pagination start-->
<nav aria-label="Page navigation" class="text-center">
	<ul class="pagination">
		<li><a href="#" aria-label="Previous" title="Previous"><span aria-hidden="true">&laquo;</span></a></li>
		<li><a href="#">1 <span class="sr-only">(current)</span></a></li>
		<li><a href="#">2</a></li>
		<li><a href="#">3</a></li>
		<li><a href="#">4</a></li>
		<li><a href="#">5</a></li>
		<li><a href="#" aria-label="Next" title="Next"><span aria-hidden="true">&raquo;</span></a></li>
	</ul>
</nav>
<!-- Pagination end-->