<div ng-controller="cerebroController"><div ng-if="breadCrumbs.length > 0">
<ol class="breadcrumb">
	<li ng-repeat="breadCrumb in breadCrumbs"><a ng-href="{{breadCrumb.link}}" ng-click="popBreadCrumb($index)">{{breadCrumb.name}}</a></li>
</ol>
<hr/>
</div></div>

<div class="panel panel-primary"><div class="panel-heading">Steps</div><div class="panel-body">
<pre>
Send a message using core java class. Receive this message using camel router
</pre>
<pre>
1. create a maven project using following command
2. Import project into eclipse as maven project
3. Add dependencies to pom.xml
4. Write Camel RouteBuilder
5. Write Core Java class to send message to queue on which camel is listening to
6. Start Active MQ
7. Write Camel main class
8. Start camel
9. Send message to queue using core java program wrote in step-5
</pre>
</div></div>

<div class="panel panel-primary"><div class="panel-heading">create a maven project using following command</div><div class="panel-body">
<pre ><code>
mvn archetype:generate -DgroupId=com.camel -DartifactId=ApacheCamel -Dversion=1.0-SNAPSHOT -Dpackage=com.camel.hello.world -DarchetypeArtifactId=maven-archetype-quickstart -DinteractiveMode=false
</code></pre>
</div></div>

<div class="panel panel-primary"><div class="panel-heading">Project Structure</div><div class="panel-body">
<img class="img-responsive" ng-src="images/camel/1-javaQueueCamelReceiver.jpg"/>
</div></div>

<div class="panel panel-primary"><div class="panel-heading">pom.xml</div><div class="panel-body">
<pre ><code>
&lt;project xmlns=&quot;http://maven.apache.org/POM/4.0.0&quot; xmlns:xsi=&quot;http://www.w3.org/2001/XMLSchema-instance&quot; xsi:schemaLocation=&quot;http://maven.apache.org/POM/4.0.0 http://maven.apache.org/maven-v4_0_0.xsd&quot;&gt;
	&lt;modelVersion&gt;4.0.0&lt;/modelVersion&gt;
	&lt;groupId&gt;com.camel&lt;/groupId&gt;
	&lt;artifactId&gt;ApacheCamel&lt;/artifactId&gt;
	&lt;packaging&gt;jar&lt;/packaging&gt;
	&lt;version&gt;1.0-SNAPSHOT&lt;/version&gt;
	&lt;name&gt;ApacheCamel&lt;/name&gt;
	&lt;url&gt;http://maven.apache.org&lt;/url&gt;

	&lt;properties&gt;
		&lt;camel.version&gt;2.17.1&lt;/camel.version&gt;
	&lt;/properties&gt;
	&lt;dependencies&gt;
		&lt;dependency&gt;
			&lt;groupId&gt;junit&lt;/groupId&gt;
			&lt;artifactId&gt;junit&lt;/artifactId&gt;
			&lt;version&gt;4.12&lt;/version&gt;
		&lt;/dependency&gt;
		<em>&lt;!-- Camel --&gt;</em>
		&lt;dependency&gt;
			&lt;groupId&gt;org.apache.camel&lt;/groupId&gt;
			&lt;artifactId&gt;camel-core&lt;/artifactId&gt;
			&lt;version&gt;${camel.version}&lt;/version&gt;
		&lt;/dependency&gt;
		&lt;dependency&gt;
			&lt;groupId&gt;org.apache.camel&lt;/groupId&gt;
			&lt;artifactId&gt;camel-http&lt;/artifactId&gt;
			&lt;version&gt;${camel.version}&lt;/version&gt;
		&lt;/dependency&gt;

		&lt;dependency&gt;
			&lt;groupId&gt;org.apache.camel&lt;/groupId&gt;
			&lt;artifactId&gt;camel-stream&lt;/artifactId&gt;
			&lt;version&gt;${camel.version}&lt;/version&gt;
		&lt;/dependency&gt;

		<em>&lt;!-- camel spring dependencies --&gt;</em>
		&lt;dependency&gt;
			&lt;groupId&gt;org.apache.camel&lt;/groupId&gt;
			&lt;artifactId&gt;camel-spring&lt;/artifactId&gt;
			&lt;version&gt;${camel.version}&lt;/version&gt;
		&lt;/dependency&gt;

		<em>&lt;!-- spring --&gt;</em>
		&lt;dependency&gt;
			&lt;groupId&gt;org.springframework&lt;/groupId&gt;
			&lt;artifactId&gt;spring-context&lt;/artifactId&gt;
			&lt;version&gt;4.2.6.RELEASE&lt;/version&gt;
		&lt;/dependency&gt;

		<em>&lt;!-- camel test --&gt;</em>
		&lt;dependency&gt;
			&lt;groupId&gt;org.apache.camel&lt;/groupId&gt;
			&lt;artifactId&gt;camel-test&lt;/artifactId&gt;
			&lt;version&gt;${camel.version}&lt;/version&gt;
		&lt;/dependency&gt;
		
		<em>&lt;!-- Active MQ JMS --&gt;</em>
		&lt;dependency&gt;
            &lt;groupId&gt;org.apache.camel&lt;/groupId&gt;
            &lt;artifactId&gt;camel-jms&lt;/artifactId&gt;
            &lt;version&gt;${camel.version}&lt;/version&gt;
        &lt;/dependency&gt;
        
        &lt;dependency&gt;
            &lt;groupId&gt;org.apache.activemq&lt;/groupId&gt;
            &lt;artifactId&gt;activemq-camel&lt;/artifactId&gt;
            &lt;version&gt;5.6.0&lt;/version&gt;
        &lt;/dependency&gt;
        
        &lt;dependency&gt;
            &lt;groupId&gt;org.apache.activemq&lt;/groupId&gt;
            &lt;artifactId&gt;activemq-pool&lt;/artifactId&gt;
            &lt;version&gt;5.11.1&lt;/version&gt;
        &lt;/dependency&gt;
        
        <em>&lt;!-- Logging --&gt;</em>
        &lt;dependency&gt;
            &lt;groupId&gt;org.slf4j&lt;/groupId&gt;
            &lt;artifactId&gt;slf4j-api&lt;/artifactId&gt;
            &lt;version&gt;1.7.12&lt;/version&gt;
        &lt;/dependency&gt;
        &lt;dependency&gt;
            &lt;groupId&gt;org.slf4j&lt;/groupId&gt;
            &lt;artifactId&gt;slf4j-log4j12&lt;/artifactId&gt;
            &lt;version&gt;1.7.12&lt;/version&gt;
        &lt;/dependency&gt;
        

	&lt;/dependencies&gt;
	&lt;build&gt;
		&lt;pluginManagement&gt;
			&lt;plugins&gt;
				&lt;plugin&gt;
					&lt;groupId&gt;org.apache.maven.plugins&lt;/groupId&gt;
					&lt;artifactId&gt;maven-compiler-plugin&lt;/artifactId&gt;
					&lt;version&gt;3.5.1&lt;/version&gt;
					&lt;configuration&gt;
						&lt;source&gt;1.8&lt;/source&gt;
						&lt;target&gt;1.8&lt;/target&gt;
					&lt;/configuration&gt;
				&lt;/plugin&gt;

				&lt;plugin&gt;
					&lt;groupId&gt;org.apache.camel&lt;/groupId&gt;
					&lt;artifactId&gt;camel-maven-plugin&lt;/artifactId&gt;
					&lt;version&gt;2.17.1&lt;/version&gt;
					<em>&lt;!-- the file must be in the classpath --&gt;</em>
					&lt;configuration&gt;
						&lt;applicationContextUri&gt;camel-spring.xml&lt;/applicationContextUri&gt;
					&lt;/configuration&gt;
				&lt;/plugin&gt;

			&lt;/plugins&gt;
		&lt;/pluginManagement&gt;
	&lt;/build&gt;
&lt;/project&gt;
</code></pre>
</div></div>

<div class="panel panel-primary"><div class="panel-heading">CoreJavaProducer.java</div><div class="panel-body">
<pre ><code>
package com.java.queue.camel.receiver;

import javax.jms.Connection;
import javax.jms.DeliveryMode;
import javax.jms.Destination;
import javax.jms.JMSException;
import javax.jms.MessageProducer;
import javax.jms.Session;
import javax.jms.TextMessage;

import org.apache.activemq.ActiveMQConnectionFactory;
import org.junit.Test;

public class CoreJavaProducer {

	@Test
	public void produce() throws JMSException {
		ActiveMQConnectionFactory activeMQConnectionFactory = new ActiveMQConnectionFactory(
				&quot;tcp://localhost:61616&quot;);
		Connection connection = activeMQConnectionFactory.createConnection();
		connection.start();

		Session session = connection.createSession(false, Session.AUTO_ACKNOWLEDGE);

		Destination destination = session.createQueue(&quot;queue1&quot;);
		MessageProducer messageProducer = session.createProducer(destination);
		messageProducer.setDeliveryMode(DeliveryMode.PERSISTENT);

		TextMessage textMessage = session.createTextMessage(&quot;Welcom to Active Mq with Core Java and Camel&quot;);

		messageProducer.send(textMessage);

		connection.close();
		session.close();
	}
}
</code></pre>
</div></div>

<div class="panel panel-primary"><div class="panel-heading">CamelReceiverRouter.java</div><div class="panel-body">
<pre ><code>
package com.java.queue.camel.receiver;

import org.apache.camel.builder.RouteBuilder;

public class CamelReceiverRouter extends RouteBuilder {

	@Override
	public void configure() throws Exception {
		from(&quot;activemq:queue:queue1&quot;).to(&quot;stream:out&quot;);
	}

}
</code></pre>
</div></div>

<div class="panel panel-primary"><div class="panel-heading">CamelReceieverApp.java</div><div class="panel-body">
<pre ><code>
package com.java.queue.camel.receiver;

import org.apache.camel.CamelContext;
import org.apache.camel.impl.DefaultCamelContext;

public class CamelReceieverApp {

	public static void main(String[] args) throws Exception {
		CamelContext camelContext = new DefaultCamelContext();
		camelContext.addRoutes(new CamelReceiverRouter());

		camelContext.start();
		Thread.sleep(1000 * 60 * 5);
		camelContext.stop();
	}
}
</code></pre>
</div></div>

<div class="panel panel-primary"><div class="panel-heading">Receive Message from queue using Camel program - Ouput</div><div class="panel-body">
<pre ><code>
17/12/17 13:09:34 INFO impl.DefaultCamelContext: Apache Camel 2.17.1 (CamelContext: camel-1) is starting
17/12/17 13:09:34 INFO management.ManagedManagementStrategy: JMX is enabled
17/12/17 13:09:35 INFO converter.DefaultTypeConverter: Loaded 195 type converters
17/12/17 13:09:35 INFO impl.DefaultRuntimeEndpointRegistry: Runtime endpoint registry is in extended mode gathering usage statistics of all incoming and outgoing endpoints (cache limit: 1000)
17/12/17 13:09:36 INFO impl.DefaultCamelContext: AllowUseOriginalMessage is enabled. If access to the original message is not needed, then its recommended to turn this option off as it may improve performance.
17/12/17 13:09:36 INFO impl.DefaultCamelContext: StreamCaching is not in use. If using streams then its recommended to enable stream caching. See more details at http://camel.apache.org/stream-caching.html
17/12/17 13:09:39 INFO failover.FailoverTransport: Successfully connected to tcp://localhost:61616
17/12/17 13:09:39 INFO impl.DefaultCamelContext: Route: route1 started and consuming from: Endpoint[activemq://queue:queue1]
17/12/17 13:09:39 INFO impl.DefaultCamelContext: Total 1 routes, of which 1 are started.
17/12/17 13:09:39 INFO impl.DefaultCamelContext: Apache Camel 2.17.1 (CamelContext: camel-1) started in 5.055 seconds
Welcom to Active Mq with Core Java and Camel
</code></pre>
</div></div>