<div class="panel panel-primary"><div class="panel-heading">Table of Contents</div><div class="panel-body">
<ul>
	<li><a ng-click="navigate(1)">Materials</a></li>
	<li><a ng-click="navigate(2)">Workspaces</a></li>
	<li><a ng-click="navigate(3)">Projects</a></li>
	<li><a ng-href="#jpaHelloWorld" ng-click="buildBreadCrumbs('JPA Hello World', '#jpaHelloWorld')">JPA Hello World</a></li>
</ul>
</div></div>

<div class="panel panel-primary" id="1"><div class="panel-heading">Materials</div><div class="panel-body">
<ul>
	<li><a ng-href="http://www.vogella.com/tutorials/JavaPersistenceAPI/article.html" target="_blank">Basics</a></li>
	<li><a ng-href="https://www.ibm.com/developerworks/java/library/j-typesafejpa/index.html" target="_blank">JPQL, Criteria, Metamodel, Relationships, Projections/Selections, Tuple</a></li>
	<li><a ng-href="http://docs.oracle.com/javaee/6/api/javax/persistence/package-summary.html" target="_blank">Basics</a></li>
</ul>
</div></div>

<div class="panel panel-primary" id="2"><div class="panel-heading">Workspaces</div><div class="panel-body">
<ul>
	<li>Eclipse Oxygen: <em>E:\workspaces\jpa-ws</em>
</ul>
</div></div>

<div class="panel panel-primary" id="3"><div class="panel-heading">Projects</div><div class="panel-body">
<ul>
	<li><a href="https://github.com/avinashbabudonthu/JpaPractice.git" target="_blank">Github</a></li>
</ul>
</div></div>