<div class="panel panel-primary"><div class="panel-heading">Examples</div><div class="panel-body">
<ul>
<li><a ng-href="#practiceDBScripts"  ng-click="buildBreadCrumbs('DB Scripts to create practice DB', '#practiceDBScripts')">DB Scripts to create practice DB</a></li>
<li><a ng-href="#dbJoins" ng-click="buildBreadCrumbs('SQL Joins', '#dbJoins')">Joins</a></li>
<li><a ng-href="#oracleSql" ng-click="buildBreadCrumbs('SQL Queries', '#oracleSql')">SQL Queries/DML</a></li>
<li><a ng-href="#oracleDdl" ng-click="buildBreadCrumbs('Oracle DDL', '#oracleDdl')">Oracle DDL</a></li>
</ul>
</div></div>