<div class="panel panel-primary"><div class="panel-heading">React JS Examples</div><div class="panel-body">
<ul>
	<li><a ng-href="#reactHelloWorld" ng-click="buildBreadCrumbs('React JS Hello World', '#reactHelloWorld')">React JS Hello World</a></li>
	<li><a ng-href="#reactComponents" ng-click="buildBreadCrumbs('React JS Components', '#reactComponents')">React JS Components</a></li>
	<li><a ng-href="#reactState" ng-click="buildBreadCrumbs('React JS State', '#reactState')">React JS State</a></li>
</ul>
</div></div>