<div class="panel panel-primary"><div class="panel-heading">React JS Examples</div><div class="panel-body">
<ul>
	<li><a ng-href="#reactHelloWorld" ng-click="buildBreadCrumbs('React JS Hello World', '#reactHelloWorld')">React JS Hello World</a></li>
	<li><a ng-href="#reactComponents" ng-click="buildBreadCrumbs('React JS Components', '#reactComponents')">React JS Components</a></li>
	<li><a ng-href="#reactState" ng-click="buildBreadCrumbs('React JS State', '#reactState')">React JS State</a></li>
	<li><a ng-href="#reactIncrementButton" ng-click="buildBreadCrumbs('Display Button that increment the counter', '#reactIncrementButton')">Display Button that increment the counter</a></li>
	<li><a ng-href="#reactArrayData" ng-click="buildBreadCrumbs('Display data from Array', '#reactArrayData')">Display data from Array</a></li>
	
</ul>
</div></div>