<div ng-controller="cerebroController"><div ng-if="breadCrumbs.length > 0">
<ol class="breadcrumb">
	<li ng-repeat="breadCrumb in breadCrumbs"><a ng-href="{{breadCrumb.link}}" ng-click="popBreadCrumb($index)">{{breadCrumb.name}}</a></li>
</ol>
<hr/>
</div></div>

<div class="panel panel-primary"><div class="panel-heading">Steps</div><div class="panel-body">
<ul>
	<li> Download Spring Boot cli from <a ng-href="https://docs.spring.io/spring-boot/docs/current/reference/html/getting-started-installing-spring-boot.html" target="_blank">here</a></li>
	<li>Download spring-boot-cli-1.5.3.RELEASE-bin.zip and unzip it</li>
	<li>Go to bin directory and run "spring.bat --version"</li>
	<li>If Spring Boot downloaed without any issues, we should see this output: Spring CLI v1.5.3.RELEASE</li>
	<li>Create project using following command
		<pre><code>
D:\Softwares\spring-boot-cli-1.5.3.RELEASE\bin\spring.bat init --dependencies=web MySpringBootCliApp			
		</code></pre>
	</li>
</ul>
</div></div>

<div class="panel panel-primary"><div class="panel-heading">Create Project using Spring Boot cli</div><div class="panel-body">
<img class="img-responsive" ng-src="images/spring/1-springBootCli.jpg"/>
</div></div>

<div class="panel panel-primary"><div class="panel-heading">Project Structure</div><div class="panel-body">
<img class="img-responsive" ng-src="images/spring/2-springBootCli.jpg"/>
</div></div>