<link rel="stylesheet" href="css/topNavigation.css">

<div class="topnav" ng-controller="cerebroController">
  <a  ng-href="" onclick="openNav()" title="Menu">&#9776; </a>
  <a ng-href="#home" ng-click="popBreadCrumb(-1)"><span class="glyphicon glyphicon-home"></span>&nbsp;&nbsp;Cerebro</a>
  <a href="#study" ng-click="buildBreadCrumbs('Study', '#study')">Study</a>
  <a href="#definitions" ng-click="buildBreadCrumbs('Definitions', '#definitions')">Definitions</a>
  <a ng-href="#interviewQuestions" ng-click="buildBreadCrumbs('InterviewQuestions', '#interviewQuestions')">Interview Questions</a>
  
  <div class="search-container" ng-controller="searchController">
    <form>
      <input type="text" placeholder="Search.." name="search" ng-model="searchText" ng-keypress="checkIfEnterKeyWasPressed($event)">
      <button type="button" ng-click="search()"><span class="glyphicon glyphicon-search"></button>
    </form>
  </div>
</div>