<nav class="navbar navbar-inverse">
  <div class="container-fluid" ng-controller="cerebroController">
    <div class="navbar-header">
      <a ng-href="#home" ng-click="popBreadCrumb(-1)"><span class="glyphicon glyphicon-home"></span>&nbsp;&nbsp;Cerebro</a>
    </div>
    <div class="navbar-header"><a href="#study" ng-click="buildBreadCrumbs('Study', '#study')">Study</a></div>
    <div class="navbar-header"><a href="#definitions" ng-click="buildBreadCrumbs('Definitions', '#definitions')">Definitions</a></div>
    <div class="navbar-header"><a ng-href="#interviewQuestions" ng-click="buildBreadCrumbs('InterviewQuestions', '#interviewQuestions')">Interview Questions</a></div>
    
    <form class="navbar-form navbar-right">
      <div class="input-group" ng-controller="searchController">
        <input type="text" class="form-control" placeholder="Search" ng-model="searchText" ng-keypress="checkIfEnterKeyWasPressed($event)">
        <div class="input-group-btn">
          <button class="btn btn-default" type="button" ng-click="search()"><span class="glyphicon glyphicon-search"></span></button>
        </div>
      </div>
    </form>
  </div>
</nav>