<div class="panel panel-primary"><div class="panel-heading">Materials</div><div class="panel-body">
	<ul>
		<li>TBD</li>
	</ul>
</div></div>

<div class="panel panel-primary"><div class="panel-heading">Workspaces</div><div class="panel-body">
<ul>
	<li>Eclipse Oxygen: <em>E:\workspaces\core-java-ws</em></li>
</ul>
</div></div>

<div class="panel panel-primary"><div class="panel-heading">Projects</div><div class="panel-body">
	<ul>
		<li><a href="https://github.com/avinashbabudonthu/CoreJavaPractice.git" target="_blank">Github link</a></li>
		<li>classes to refer:
			<ul>
				<li>core.java.util.logging.UtilLoggingPractice</li>
				<li>core.java.util.logging.MethodHandlesPractice</li>
			</ul>
		</li>
	</ul>
</div></div>

<div class="panel panel-primary"><div class="panel-heading">Examples</div><div class="panel-body">
	<ul>
		<li><a ng-href="#utilLoggingHelloWorld" ng-click="buildBreadCrumbs('Util Logging Hello World', '#utilLoggingHelloWorld')">Util Logging Hello World</a></li>
		<li><a ng-href="#utilLoggingMethodHandles" ng-click="buildBreadCrumbs('Util Logging + MethodHandles', '#utilLoggingMethodHandles')">Util Logging + MethodHandles</a></li>
	</ul>
</div></div>