<div class="panel panel-primary"><div class="panel-heading">Core Java - Examples</div><div class="panel-body">
<ul>
  	<li><a ng-href="#createWeblogicQueue" ng-click="buildBreadCrumbs('Create Weblogic Queue', '#createWeblogicQueue')">Create Weblogic Queue</a></li>
	<li><a ng-href="#weblogicQSendReceiveMessage" ng-click="buildBreadCrumbs('Send Receive Message to Weblogic Queue', '#weblogicQSendReceiveMessage')">Send Receive Message to Weblogic Queue</a></li>
	<li>Weblogic queue + Message Listener</li>
</ul>
</div></div> 