<div class="panel panel-primary"><div class="panel-heading">Projects</div><div class="panel-body">
<ul>
	<li><a href="https://github.com/avinashbabudonthu/WeblogicJmsPractice.git" target="_blank">Github</a></li>
</ul>
</div></div>

<div class="panel panel-primary"><div class="panel-heading">Workspaces</div><div class="panel-body">
<ul>
	<li>Eclipse Oxygen: <em>E:\workspaces\jms-ws</em></li>
</ul>
</div></div>

<div class="panel panel-primary"><div class="panel-heading">Queue - Examples</div><div class="panel-body">
<ul>
  	<li><a ng-href="#createWeblogicQueue" ng-click="buildBreadCrumbs('Create Weblogic Queue', '#createWeblogicQueue')">Create Weblogic Queue</a></li>
	<li><a ng-href="#weblogicQSendReceiveMessage" ng-click="buildBreadCrumbs('Send Receive Message to Weblogic Queue', '#weblogicQSendReceiveMessage')">Send Receive Message to Weblogic Queue</a></li>
	<li><a ng-href="#weblogicQMessageListener" ng-click="buildBreadCrumbs('Weblogic queue + Message Listener', '#weblogicQMessageListener')">Weblogic queue + Message Listener</a></li>
</ul>
</div></div> 