<div class="page-header">
    <h3>Web Services</h3>      
</div>

<div class="panel panel-primary"><div class="panel-heading">RESTful Web Services with Jersey Implementation Contents</div><div class="panel-body">
	<ul>
		<li><a ng-href="#jerseyRestGet" ng-click="buildBreadCrumbs('GET requests in Jersey Implementation', '#jerseyRestGet')">GET requests</a></li>
		<li><a ng-href="#jerseyRestPost" ng-click="buildBreadCrumbs('POST requests in Jersey Implementation', '#jerseyRestPost')">POST requests</a></li>
		<li><a ng-href="#jerseyRestPut" ng-click="buildBreadCrumbs('PUT requests in Jersey Implementation', '#jerseyRestPut')">PUT requests</a></li>
		<li><a ng-href="#jerseyRestDelete" ng-click="buildBreadCrumbs('DELETE requests in Jersey Implementation', '#jerseyRestDelete')">DELETE requests</a></li>
	</ul>
</div></div>	