<div class="page-header">
    <h3>Web Services</h3>      
</div>

<div class="panel panel-primary" id="1"><div class="panel-heading">RESTful Web Services with Jersey Implementation Contents</div><div class="panel-body">
	<ul>
		<li><em>Examples:</em>
			<ul>
				<li><a ng-href="#jerseyRestGet" ng-click="buildBreadCrumbs('GET requests in Jersey Implementation', '#jerseyRestGet')">GET requests</a></li>
				<li><a ng-href="#jerseyRestPost" ng-click="buildBreadCrumbs('POST requests in Jersey Implementation', '#jerseyRestPost')">POST requests</a></li>
				<li><a ng-href="#jerseyRestPut" ng-click="buildBreadCrumbs('PUT requests in Jersey Implementation', '#jerseyRestPut')">PUT requests</a></li>
				<li><a ng-href="#jerseyRestDelete" ng-click="buildBreadCrumbs('DELETE requests in Jersey Implementation', '#jerseyRestDelete')">DELETE requests</a></li>
				<li><a ng-href="#jerseyFileUpload" ng-click="buildBreadCrumbs('File upload in Jersey Implementation', '#jerseyFileUpload')">Jersey File Upload</a></li>
				<li><a ng-href="#jerseyFileDownload" ng-click="buildBreadCrumbs('File download in Jersey Implementation', '#jerseyFileDownload')">Jersey File Download</a></li>
			</ul>
		</li>		
		<li><em>Source Code</em>
			<ul>
				<li>Refer code in Github from <a ng-href="https://github.com/avinashbabudonthu/JerseyRestPractice" target="_blank">here</a></li>
				<li>Download Source Code from <a ng-href="https://github.com/avinashbabudonthu/JerseyRestPractice/archive/master.zip" target="_blank">here</a></li>
			</ul>
		</li>
		<li><em>References</em>
		<ul>
			<li><a ng-href="http://www.mkyong.com/tutorials/jax-rs-tutorials/" target="_blank">References</a></li>
		</ul>
	</ul>
</div></div>

<div class="panel panel-primary" id="2"><div class="panel-heading">RESTful Web Services with Spring Implementation Contents</div><div class="panel-body">
	<ul>
		<li><em>Examples:</em>
			<ul>
				<li><a ng-href="#springRestGet" ng-click="buildBreadCrumbs('Spring REST Get', '#springRestGet')">Spring REST GET</a></li>
				<li><a ng-href="#springRestPost" ng-click="buildBreadCrumbs('Spring REST Post', '#springRestPost')">Spring REST Post</a></li>
				<li><a ng-href="#springRestPUT" ng-click="buildBreadCrumbs('Spring REST PUT', '#springRestPUT')">Spring REST PUT</a></li>
				<li><a ng-href="#springRestDELETE" ng-click="buildBreadCrumbs('Spring REST DELETE', '#springRestDELETE')">Spring REST DELETE</a></li>
			</ul>
		</li>
		<li><em>Source Code</em>
		<ul>
			<li>Download Source Code from <a ng-href="https://github.com/avinashbabudonthu/SpringRest/archive/master.zip" target="_blank">here</a></li>
		</ul>
</ul>
</div></div>